<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="The best website to learn dart and flutter for absolute beginnger and make alot of apps">
    <meta name="author" content="MoAzMar">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="Flutter Pro" /> <!-- website name -->
    <meta property="og:site" content="flutter-pro.com" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />
    <meta name="a.validate.01" content="5623dd7cc85a422f93719f6d644ef95743d6" />
    <!-- Website Title -->
    <title>Flutter Pro</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/fontawesome-all.css" rel="stylesheet">
    <link href="/styles/landing.css" rel="stylesheet">
    <!-- Favicon  -->
    <link rel="icon" href="images/flutter_icon.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Navbar -->
    <%- include("../partials/navbar")%>
        <!-- end of navbar -->
        <%- body %>
            <%- include("../partials/footer") %>
                <a href="https://www.facebook.com/flutterpro" target="_blank" class="float1">
                    <i class=" my-float"><img width="100%" src="../images/fb.png" alt="Facebook"></i>
                </a>
                <a href="https://www.youtube.com/channel/UC6wDbzBGIBy77VGQvad6BYA" target="_blank" class="float2">
                    <i class=" my-float"><img width="100%" src="../images/youtube.png" alt="Youtube"></i>
                </a>
</body>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4892871937571788"
    crossorigin="anonymous"></script>

</html>