<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-adsense-account" content="ca-pub-4892871937571788">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="The best website to learn Dart and Flutter for absolute beginners and make a lot of Apps.">
    <meta name="author" content="aziz marzouki">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="beFlutter Pro" /> <!-- website name -->
    <meta property="og:site" content="flutter-pro.com" /> <!-- website link -->
    <meta property="og:type" content="article" />
    <meta name="a.validate.01" content="5623dd7cc85a422f93719f6d644ef95743d6" />
    <!-- Website Title -->
    <title>beFlutter Pro</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/fontawesome-all.css" rel="stylesheet">
    <link href="/styles/swiper.css" rel="stylesheet">
    <link href="/styles/magnific-popup.css" rel="stylesheet">
    <link href="/styles/landing.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="images/flutter_icon.png">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4892871937571788"
        crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounceF2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <%- include("./partials/navbar")%>

        <!-- Header -->
        <header id="header" class="header" style="background-color: #451952;padding-top: 4rem;">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 order-lg-2">
                            <div class="image-container">
                                <img id="phone" src="images/phone.png" alt="alternative">
                            </div> <!-- end of image-container -->
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="text-container">
                                <h1>Target <span id="js-rotating">Mobile, Web, Desktop</span><br> Apps</h1>

                                <p class="p-large">Flutter is Google’s UI toolkit for building beautiful, natively
                                    compiled applications for mobile, web, and desktop from a single codebase.

                                </p>

                                <!-- <a class="btn-solid-lg page-scroll" href="#">
                                    <img src="/images/plans.svg" style="height: 30px;" alt="">
                                    View Plans <span style="margin-left: auto;
                                        font-family: 'Audiowide';
                                        color: #54ecff;
                                        font-style: italic;
                                        font-size: 15px;
                                        text-transform: lowercase;">soon</span></a> -->
                            </div>
                        </div> <!-- end of col -->
                        <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of header-content -->
        </header> <!-- end of header -->
        <header class="header" style="background-color: #662549;">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 order-lg-1">
                            <div class="image-container">
                                <h2>
                                    How Flutter is Dominating the Market?
                                </h2>
                                <br>
                                <img id="phone" src="images/stat.png" alt="alternative">
                                <br>
                                <p style="float: right;">
                                    Stack Overflow Developer Survey 2022
                                </p>
                            </div> <!-- end of image-container -->
                        </div>
                        <div class="col-lg-6 order-lg-2">
                            <div>

                                <div class="contentdiv">
                                    <br><br><br><br><br><br><br>
                                    <p class="p-large">

                                        Flutter is a mobile app development framework that has been gaining popularity
                                        in
                                        recent years. <br><br> It has become a top choice for mobile app developers, and
                                        there
                                        are
                                        several reasons for its dominance in the market.</p>

                                    <ol class="p-large" style="padding-left: 80px;">
                                        <li>
                                            Fast Development
                                        </li>
                                        <br>

                                        <li>
                                            Beautiful UIs


                                        </li><br>
                                        <li>
                                            Growing Community
                                        </li>
                                    </ol>
                                </div>


                            </div>
                        </div> <!-- end of col -->
                        <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of header-content -->
        </header> <!-- end of header -->

        <header class="header" style="background-color: #AE445A;">
            <div class="header-content">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 order-lg-1">
                            <div>

                                <div class="contentdiv">
                                    <h2>
                                        Why Flutter is the Right Choice in 2023 to Grow Your Career?
                                    </h2>
                                    <p class="p-large">

                                        Flutter's dominance in the market, along with its advantages, make it an
                                        excellent choice for developers looking to grow their careers in 2023. Here are
                                        a few reasons why:

                                    <ol class="p-large" style="padding-left: 80px;">
                                        <li>
                                            Job Opportunities
                                        </li>
                                        <br>
                                        <li>
                                            Ease of Use
                                        </li><br>
                                        <li>
                                            Cross-Platform Support


                                        </li><br>
                                        <li>
                                            Growing Community
                                        </li>
                                    </ol>
                                </div>


                            </div>
                        </div> <!-- end of col -->
                        <div class="col-lg-6 order-lg-2">
                            <div class="image-container">
                                <br><br><br><br><br>
                                <br>
                                <img id="phone" src="images/money.jpg" alt="alternative">
                            </div> <!-- end of image-container -->
                        </div>
                        <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of header-content -->
        </header> <!-- end of header -->


        <!-- end of header -->
        <!-- Statistics -->
        <div class="counter" style="background-color: #F39F5A;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Counter -->
                        <div id="counter">
                            <div class="cell">
                                <div class="counter-value number-count" data-count="170">1</div>
                                <p class="counter-info">Lessons</p>
                            </div>
                            <div class="cell">
                                <div class="counter-value number-count" data-count="11">1</div>
                                <p class="counter-info">Apps</p>
                            </div>

                        </div>
                        <!-- end of counter -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of counter -->
        <!-- end of statistics -->



        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <h3>About Us</h3>

                <div class="row">

                    <div class="col-md-6">
                        <div class="footer-col">
                            <p>Welcome to <strong>beFlutter Pro</strong>, where passion meets expertise! <br>I am
                                <strong>Aziz
                                    Marzouki</strong>, a
                                dedicated Flutter developer with a mission to inspire and educate aspiring
                                developers.<br><br>
                                With a
                                deep love for programming and a wealth of experience in Flutter app development, I
                                founded this
                                platform to share my knowledge and help learners transform their aspirations into
                                skills.<br><br>


                            </p>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-md-6">
                        <div class="footer-col middle">
                            <p>Here,we are committed to providing top-notch Flutter tutorials,
                                hands-on projects, and expert guidance, ensuring an engaging and enriching learning
                                experience
                                for all.</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Creator <a class="turquoise"
                                            href="https://azizmarzouki.com">azizmarzouki.com</a></div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Flutter <a class="turquoise"
                                            href="https://flutter.dev">flutter.dev</a></div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Dart <a class="turquoise"
                                            href="https://dart.dev">dart.dev</a></div>
                                </li>

                            </ul>
                        </div>
                    </div> <!-- end of col -->

                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->
        <!-- end of footer -->


        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © beFlutter Pro - 2020 - 2023 By Aziz Marzouki &trade;</p>
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright -->
        <!-- end of copyright -->






        <!-- Scripts -->
        <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
        <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
        <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
        <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
        <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
        <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
        <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
        <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
        <script src="js/scripts.js"></script> <!-- Custom scripts -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

        <script>
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            var firebaseConfig = {
                apiKey: "AIzaSyCi3Kwi3ESW0DwgOzqDsw0qoE0Mqe7iY1Y",
                authDomain: "flutter-pro-51469.firebaseapp.com",
                databaseURL: "https://flutter-pro-51469.firebaseio.com",
                projectId: "flutter-pro-51469",
                storageBucket: "flutter-pro-51469.appspot.com",
                messagingSenderId: "928732786533",
                appId: "1:928732786533:web:832d8d74c6688e561fbb8c",
                measurementId: "G-08KVRCRMY0"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
        </script>
</body>

</html>