<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="The best website to learn Dart and Flutter for absolute beginners and make a lot of Apps.">
    <meta name="author" content="MoAzMar">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="Flutter Pro" /> <!-- website name -->
    <meta property="og:site" content="flutter-pro.com" /> <!-- website link -->
    <meta property="og:type" content="article" />
    <meta name="a.validate.01" content="5623dd7cc85a422f93719f6d644ef95743d6" />
    <!-- Website Title -->
    <title>Flutter Pro</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/fontawesome-all.css" rel="stylesheet">
    <link href="/styles/swiper.css" rel="stylesheet">
    <link href="/styles/magnific-popup.css" rel="stylesheet">
    <link href="/styles/landing.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="images/flutter_icon.png">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4892871937571788"
        crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounceF2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <%- include("./partials/navbar")%>

        <!-- Header -->
        <header id="header" class="header">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 order-lg-2">
                            <div class="image-container">
                                <img id="phone" src="images/phone.png" alt="alternative">
                            </div> <!-- end of image-container -->
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="text-container">
                                <h1>Target <span id="js-rotating">Mobile, Web, Desktop</span><br> Apps</h1>

                                <p class="p-large">Flutter is Google’s UI toolkit for building beautiful, natively
                                    compiled applications for mobile, web, and desktop from a single codebase.

                                </p>

                                <!-- <a class="btn-solid-lg page-scroll" href="#">
                                    <img src="/images/plans.svg" style="height: 30px;" alt="">
                                    View Plans <span style="margin-left: auto;
                                        font-family: 'Audiowide';
                                        color: #54ecff;
                                        font-style: italic;
                                        font-size: 15px;
                                        text-transform: lowercase;">soon</span></a> -->
                            </div>
                        </div> <!-- end of col -->
                        <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of header-content -->
        </header> <!-- end of header -->


        <!-- end of header -->
        <!-- Statistics -->
        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Counter -->
                        <div id="counter">
                            <div class="cell">
                                <div class="counter-value number-count" data-count="170">1</div>
                                <p class="counter-info">Lessons</p>
                            </div>
                            <div class="cell">
                                <div class="counter-value number-count" data-count="11">1</div>
                                <p class="counter-info">Apps</p>
                            </div>
                            <!-- <div class="cell">
                                <div class="counter-value number-count" data-count="85">1</div>
                                <p class="counter-info">Issues Solved</p>
                            </div>
                            <div class="cell">
                                <div class="counter-value number-count" data-count="59">1</div>
                                <p class="counter-info">Good Reviews</p>
                            </div> -->

                        </div>
                        <!-- end of counter -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of counter -->
        <!-- end of statistics -->



        <!-- Footer -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-col">
                            <h4>About Us</h4>
                            <p>We're passionate about creating the best apps for personal development</p>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-md-4">
                        <div class="footer-col middle">
                            <h4>Important Links</h4>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Our business website <a class="turquoise"
                                            href="https://moazmar.com">moazmar.com</a></div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Flutter <a class="turquoise"
                                            href="https://flutter.dev">flutter.dev</a></div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Dart <a class="turquoise"
                                            href="https://dart.dev">dart.dev</a></div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Read our <a class="turquoise"
                                            href="/termsAndConditions">Terms & Conditions</a>, <a class="turquoise"
                                            href="privacy-policy.html">Privacy Policy</a></div>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-md-4">
                        <div class="footer-col last">
                            <h4>Social Media </h4>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-youtube fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of footer -->
        <!-- end of footer -->


        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © Flutter Pro - 2022 By MoAzMar &trade;</p>
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright -->
        <!-- end of copyright -->




        <!-- Code begins here -->

        <a href="https://www.facebook.com/flutterpro" target="_blank" class="float1">
            <i class=" my-float"><img width="100%" src="../images/fb.png" alt="Facebook"></i>
        </a>
        <a href="https://www.youtube.com/channel/UC6wDbzBGIBy77VGQvad6BYA" target="_blank" class="float2">
            <i class=" my-float"><img width="100%" src="../images/youtube.png" alt="Youtube"></i>
        </a>

        <!-- Scripts -->
        <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
        <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
        <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
        <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
        <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
        <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
        <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
        <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
        <script src="js/scripts.js"></script> <!-- Custom scripts -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

        <script>
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            var firebaseConfig = {
                apiKey: "AIzaSyCi3Kwi3ESW0DwgOzqDsw0qoE0Mqe7iY1Y",
                authDomain: "flutter-pro-51469.firebaseapp.com",
                databaseURL: "https://flutter-pro-51469.firebaseio.com",
                projectId: "flutter-pro-51469",
                storageBucket: "flutter-pro-51469.appspot.com",
                messagingSenderId: "928732786533",
                appId: "1:928732786533:web:832d8d74c6688e561fbb8c",
                measurementId: "G-08KVRCRMY0"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
        </script>
</body>

</html>