<div class="contenu">
    <h1>Introduction to Flutter</h1>
    <br>
    <p>
        <strong>Flutter</strong> is an open-source UI software development kit created by Google. It is used to develop cross platform applications for Android, iOS, Linux, Mac, Windows, Google Fuchsia, and the web from a single codebase. <br><br>

        The first version of Flutter was known as codename "Sky" and ran on the Android operating system. It was unveiled at the 2015 Dart developer summit with the stated intent of being able to render consistently at 120 frames per second. During the keynote of Google Developer Days in Shanghai, Google announced Flutter Release Preview 2, which is the last big release before Flutter 1.0. On December 4, 2018, Flutter 1.0 was released at the Flutter Live event, denoting the first "stable" version of the Framework. On December 11, 2019, Flutter 1.12 was released at the Flutter Interactive event. <br><br>

        On May 6, 2020, the Dart software development kit (SDK) in version 2.8 and the Flutter in version 1.17.0 were released, where support was added to the Metal API, improving performance on iOS devices (approximately 50%), new Material widgets, and new network tracking. <br><br>

        On March 3, 2021, Google released Flutter 2 during an online Flutter Engage event. This major update brought official support for web-based applications with new CanvasKit renderer and web specific widgets, early-access desktop application support for Windows, macOS, and Linux and improved Add-to-App APIs. <br><br>
    </p>
    <br>
    <h2 class="title">
        Widgets
    </h2>
    <p>
        Flutter uses a variety of widgets to deliver a fully functioning application. These widgets are Flutter's framework architecture. Flutter's Widget Catalog provides a full explanation and API on the framework.
    </p>
    <br>
    <h2 class="title">
        Why Flutter
    </h2>
    <ol>
        <li class="step">Fast development</li>
        <p>Flutter's hot reload helps you quickly and easily experiment, build UIs, add features, and fix bugs faster. Experience sub-second reload times without losing state on emulators, simulators, and hardware.        </p>
        <li class="step">
            Expressive, beautiful UIs
        </li>
        <p>
            Delight your users with Flutter's built-in beautiful Material Design and Cupertino (iOS-flavor) widgets, rich motion APIs, smooth natural scrolling, and platform awareness.
        </p>
        <li class="step">
            Native Performance
        </li>
        <p>
            Flutter’s widgets incorporate all critical platform differences such as scrolling, navigation, icons and fonts to provide full native performance on both iOS and Android.
        </p>
    </ol>
</div>