<div class="contenu">
    <h1>
        Install
    </h1>
    <h3 class="note">
        Note :
    </h3>
    <p>
        If you already installed the flutter sdk while learning dart from <a href="http://flutter-pro.com/Dart/1/2">previous lesson</a> , you can move to the next lesson.
    </p>
    <br>
    <p>
        Follow the instructions in the official website depending on your operating system :
    </p>
    <a href="https://flutter.dev/docs/get-started/install">
        <h2 class="step">
            Installing the Flutter SDK
        </h2>
    </a>
    <br>
    
</div>