<div class="contenu">
    <h1>
        Set up the editor
    </h1>
    <h3 class="note">
        Note :
    </h3>
    <p>
        If you already installed set up the editor while learning dart from <a href="http://flutter-pro.com/Dart/1/3">previous lesson</a> , you can move to the next lesson.
    </p>
    <br>
    <h2 class="title">
        Install VS Code
    </h2>
    <p>
        VS Code is a lightweight editor with Flutter app execution and debug support.
    </p>
	<ul>
		<li>
        <a href="https://code.visualstudio.com/" class="step">VS Code</a>, latest stable version
    </li>
	</ul>
    
    <h2 class="title">
        Install the Flutter and Dart plugins
    </h2>
    <ol>
        <li>
            <p>Start VS Code.</p>
        </li>
        <li>
            <p>Invoke <strong>View</strong> > <strong>Command Palette</strong> ….</p>
        </li>
        <li>
            <p>Type “install” and select <strong>Extensions: Install Extensions</strong>.</p>
        </li>
        <li>
            <p>Type “flutter” in the extensions search field, select <strong>Flutter</strong> in the list, and click <strong>Install</strong>. This also installs the required Dart plugin.</p>
        </li>
    </ol>
    <h2 class="title">
        Validate your setup with the Flutter Doctor
    </h2>
    <ol>
        <li>
            <p>Invoke <strong>View</strong> > <strong>Command Palette</strong> ….</p>
        </li>
        <li>
            <p>Type “doctor” and select the <strong>Flutter: Run Flutter Doctor.</strong></p>
        </li>
        <li>
            <p>Review the output in the <strong>OUTPUT</strong> pane for any issues. Make sure to select Flutter from the dropdown in the different Output Options.</p>
        </li>
    </ol>
    
</div>