<div class="contenu">
    <h1>Flutter Introduction Exercises </h1>
    <br>
    <h2 class="step">
        Questions:
    </h2>
    <br>
    <br>
    <ol>
<li><p> Flutter is ( Closed-source / Open source ) language.</p></li>
<li><p> Flutter is developed by ( Facebook / Google / Microsoft ).</p></li>
<li><p> On March 3, ( 2019 / 2020 / 2021 ), Google released Flutter ... during an online Flutter Engage event. This major update brought official support for ....-based applications with new CanvasKit renderer and .... specific widgets, early-access ....... application support for Windows, macOS, and Linux and improved Add-to-App APIs. <br><br></p></li>
<li><p> Flutter uses a variety of ....... to deliver a fully functioning application.</p></li>
<li><p> Flutter's ......... helps you quickly and easily experiment, build UIs, add features, and fix bugs faster. Experience sub-second reload times without losing state on emulators, simulators, and hardware.</p></li>
<li><p> Flutter’s widgets incorporate all critical platform differences such as scrolling, navigation, icons and fonts to provide full ........ performance on both iOS and Android.</p></li>
<li><p> The command ....... ........ let us see if there are any platform dependencies we need to complete the setup.</p></li>
<li><p> Do you still remember the widgets of the default app ?</p></li>
<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/c1exp1.png?alt=media&token=7f9db5f6-4c96-4af8-a937-f9c167e5453e" alt="flutter widgets exercice">
    </ol>
    <br>
    <br>
    <br>
    <br>
    <h2 class="step">
        Answers: 
    </h2>
    <br>
 
    <ol>
<p>
    <li><p> Open source </p></li>
    <li><p> Google </p></li>
    <li><p> 2021 / 2 / web / web / desktop</p></li>
    <li><p> widgets </p></li>
    <li><p> hot reload </p></li>
    <li><p> native </p></li>
    <li><p> flutter doctor</p></li>
    <li><p> Scaffold / AppBar / Text / Center / Column / Text / Text / FloatingActionButton / Icon</p></li>
</p>

    </ol>
</div>