<div class="contenu">
    <h1>
        App6 v1 : My Books - Planning The App
    </h1>
    <ol>


        <li class="step">
            The Result :
        </li>
        <video class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app%206%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=484c3116-7ebf-4e00-8972-959db1b5872a"
            autoplay muted loop></video>
        <br>
        <br>

        <h3 class="note">New Widgets : </h3>
        <p>
            IconButton - TextField - CircleAvatar - Card - ListTile - Flexible - ListView - BottomNavigationBar
        </p>

        <li class="step">
            Ressources :
        </li>
        <p>
            <strong>Genres List : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/genres.dart?alt=media&token=f79d33f6-3db8-441d-9c1b-1f726184f058">download</a>
            <br>
            <strong>Testing Data : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/data.dart?alt=media&token=497a6bb4-41f2-41f8-8dd9-4ff3c0c29def">download</a>
            <br>
            <strong>Icons : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app6_icons.rar?alt=media&token=2a4cb9cb-b8e5-4e8e-bc1d-a62f06fd9bc2">download</a>
            <br>
        </p>

    </ol>
</div>