<div class="contenu">
    <h1>
        Cupertino (iOS-style) widgets
    </h1>
    <p>
        Flutter widgets implementing the current iOS design language. <br><br>
        To use, import package:flutter/cupertino.dart.
    </p>
    <br>
    <table class="tableau">
        <tr>
            <th>
                Widget
            </th>
            <th>
                Preview
            </th>
            <th>
                Description
            </th>
        </tr>
        <tr>
            <td>
                CupertinoActionSheet
            </td>
            <td>
                <img class="tabimg"
                    src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-action-sheet.png"
                    alt="CupertinoActionSheet">
            </td>
            <td>
                An iOS-style modal bottom action sheet to choose an option among many.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoActivityIndicator
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-activity-indicator.png"
                    class="tabimg" alt="CupertinoActivityIndicator">
            </td>
            <td>
                An iOS-style activity indicator. Displays a circular 'spinner'.


            </td>
        </tr>
        <tr>
            <td>
                CupertinoAlertDialog
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-alert-dialog.png"
                    alt="CupertinoAlertDialog" class="tabimg">
            </td>
            <td>
                An iOS-style alert dialog.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoButton
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-button.png"
                    alt="CupertinoButton" class="tabimg">
            </td>
            <td>
                An iOS-style button.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoContextMenu
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-context-menu.png"
                    alt="CupertinoContextMenu" class="tabimg">
            </td>
            <td>
                An iOS-style full-screen modal route that opens when the child is long-pressed. Used to display relevant
                actions for your content.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoDatePicker
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-date-picker.png"
                    alt="CupertinoDatePicker" class="tabimg">
            </td>
            <td>
                An iOS-style date or date and time picker.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoDialogAction
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-dialog-action.png"
                    alt="CupertinoDialogAction" class="tabimg">
            </td>
            <td>
                A button typically used in a CupertinoAlertDialog.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoFullscreenDialogTransition
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-fullscreen-dialog-transition.png"
                    alt="CupertinoFullscreenDialogTransition" class="tabimg">
            </td>
            <td>
                An iOS-style transition used for summoning fullscreen dialogs.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoNavigationBar
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-nav-bar.png"
                    alt="CupertinoNavigationBar" class="tabimg">
            </td>
            <td>
                An iOS-style top navigation bar. Typically used with CupertinoPageScaffold.
            </td>

        </tr>
        <tr>
            <td>
                CupertinoPageScaffold
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-page-scaffold.png"
                    alt="CupertinoPageScaffold" class="tabimg">
            </td>
            <td>
                Basic iOS style page layout structure. Positions a navigation bar and content on a background.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoPageTransition
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-page-transition.png"
                    alt="CupertinoPageTransition" class="tabimg">
            </td>
            <td>
                Provides an iOS-style page transition animation.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoPicker
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-picker.png"
                    alt="CupertinoPicker" class="tabimg">
            </td>
            <td>
                An iOS-style picker control. Used to select an item in a short list.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoPopupSurface
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/catalog-widget-placeholder.png"
                    alt="CupertinoPopupSurface" class="tabimg">
            </td>
            <td>
                Rounded rectangle surface that looks like an iOS popup surface, such as an alert dialog or action sheet.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoScrollbar
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-scrollbar.png"
                    alt="CupertinoScrollbar" class="tabimg">
            </td>
            <td>
                An iOS-style scrollbar that indicates which portion of a scrollable widget is currently visible.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoSearchTextField
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-search-field.png"
                    alt="CupertinoSearchTextField" class="tabimg">
            </td>
            <td>
                An iOS-style search field.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoSegmentedControl
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-segmented-control.png"
                    alt="CupertinoSegmentedControl" class="tabimg">
            </td>
            <td>
                An iOS-style segmented control. Used to select mutually exclusive options in a horizontal list.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoSlider
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-slider.png"
                    alt="CupertinoSlider" class="tabimg">
            </td>
            <td>
                Used to select from a range of values.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoSlidingSegmentedControl
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-sliding-segmented-control.png"
                    alt="CupertinoSlidingSegmentedControl" class="tabimg">
            </td>
            <td>
                An iOS-13-style segmented control. Used to select mutually exclusive options in a horizontal list.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoSliverNavigationBar
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-sliver-navigation-bar.png"
                    alt="CupertinoSliverNavigationBar" class="tabimg">
            </td>
            <td>
                An iOS-styled navigation bar with iOS-11-style large titles using slivers.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoSwitch
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-switch.png"
                    alt="CupertinoSwitch" class="tabimg">
            </td>
            <td>
                An iOS-style switch. Used to toggle the on/off state of a single setting.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoTabBar
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-tab-bar.png"
                    alt="CupertinoTabBar" class="tabimg">
            </td>
            <td>
                An iOS-style bottom tab bar. Typically used with CupertinoTabScaffold.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoTabScaffold
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-tab-scaffold.png"
                    alt="CupertinoTabScaffold" class="tabimg">
            </td>
            <td>
                Tabbed iOS app structure. Positions a tab bar on top of tabs of content.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoTabView
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-tab-view.png"
                    alt="CupertinoTabView" class="tabimg">
            </td>
            <td>
                Root content of a tab that supports parallel navigation between tabs. Typically used with
                CupertinoTabScaffold.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoTextField

            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-textfield.png"
                    alt="CupertinoTextField" class="tabimg">
            </td>
            <td>
                An iOS-style text field.
            </td>
        </tr>
        <tr>
            <td>
                CupertinoTimerPicker
            </td>
            <td>
                <img src="https://flutter.dev/assets/images/docs/widget-catalog/cupertino-timer-picker.png"
                    alt="CupertinoTimerPicker" class="tabimg">
            </td>
            <td>
                An iOS-style countdown timer picker.
            </td>
        </tr>

    </table>
</div>