<div class="contenu">
    <h1>
        App6 v2 : My Books - Planning The App
    </h1>
    <ol>


        <li class="step">
            The Result :
        </li>
        <video class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app6v2preview.mp4?alt=media&token=8c1e70f6-06a1-4c0f-a9bb-e3129d73b7f1"
            autoplay muted loop></video>
        <br>
        <br>
        <p>
            We will adapt this app to run on iOS with Cupertino Style.
        </p>
        <h3 class="note">New Cupertino Widgets : </h3>
        <p>
            CupertinoButton - CupertinoPicker - CupertinoTabBar - CupertinoTextField - CupertinoNavigationBar
        </p>



    </ol>
</div>