<div class="contenu">
    <h1> App6 v2 : My Books - Coding The App</h1>
    <br><br>
    <video class="ss"
        src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app6v2preview.mp4?alt=media&token=8c1e70f6-06a1-4c0f-a9bb-e3129d73b7f1"
        autoplay muted loop></video>
    <br><br>
    <h2 class="step">Code Source :</h2>
    <a class="githubLink" href="https://github.com/MarzoukiAziz/App6-v2--My-Books---FlutterCourse" target="_blank">
        <img class="github"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/f3mn2sw6is59zrxhzj51.jpg?alt=media&token=9dc18b84-5c6c-47a4-a553-fdc879d50b9f"
            alt="github">
</div>