<div class="contenu">
    <h1>
        App7 : Short Vacation - Planning The App
    </h1>
    <ol>


        <li class="step">
            The Result :
        </li>
        <video class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app7_preview.mp4?alt=media&token=945a90ce-8882-4aa9-986b-edaa1998d442"
            autoplay muted loop></video>
        <br>
        <br>

        <h3 class="note">New Widgets : </h3>
        <p>
            OutlinedButton - CupertinoDatePicker
        </p>

        <li class="step">
            Ressources :
        </li>
        <p>

        </p>

    </ol>
</div>