<div class="contenu">
    <h1>
        App8 : Movie Time - Planning The App
    </h1>
    <ol>


        <li class="step">
            The Result :
        </li>
        <video class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app8_preview.mp4?alt=media&token=bcc5931f-f014-4bca-9d72-ecfdddbfd2a8"
            autoplay muted loop></video>
        <br>
        <br>

        <h3 class="note">New Widgets : </h3>
        <p>
            GridView - Table
        </p>

        <li class="step">
            Ressources :
        </li>
        <p>
            <strong>Genres List : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/genres_list.dart?alt=media&token=af7fe511-164e-4fb8-a1d7-bfda78f47bd8">download</a>
            <br>
            <strong>Movies List : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/genres_list.dart?alt=media&token=af7fe511-164e-4fb8-a1d7-bfda78f47bd8">download</a>
            <br>
            <strong>appIcon : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/logo.png?alt=media&token=195bb710-687a-4828-b219-7ec40a61e25d">download</a>
            <br>
        </p>

    </ol>
</div>