<div class="contenu">
    <h1> App8 : Movie Time - Coding The App</h1>
    <br><br>
    <video class="ss"
        src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app8_preview.mp4?alt=media&token=bcc5931f-f014-4bca-9d72-ecfdddbfd2a8"
        autoplay muted loop></video>
    <br><br>
    <h2 class="step">Code Source :</h2>
    <a class="githubLink" href="https://github.com/MarzoukiAziz/App8--Movie-Time---FlutterCourse" target="_blank">
        <img class="github"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/f3mn2sw6is59zrxhzj51.jpg?alt=media&token=9dc18b84-5c6c-47a4-a553-fdc879d50b9f"
            alt="github">
</div>