<div class="contenu">
    <h1>
        App9 : To-Do List - Planning The App
    </h1>
    <ol>


        <li class="step">
            The Result :
        </li>
        <video class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app9%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=f5ebb9fa-d4c7-4c30-9421-d33391f88db9"
            autoplay muted loop></video>
        <br>
        <br>

        <h3 class="note">New Widgets : </h3>
        <p>
            Drawer - SnackBar - AlertDialog - Chip - Radio - PopupMenuButton - ExpansionPanel
        </p>

        <li class="step">
            Ressources :
        </li>
        <p>
            <strong>Icons : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app9_icons.rar?alt=media&token=95991db5-87cb-47dc-820d-07629c281df5">download</a>
            <br>

        </p>

    </ol>
</div>