<div class="contenu">
    <h1> App9 : To-Do List - Coding The App</h1>
    <br><br>
    <video class="ss"
        src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app9%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=f5ebb9fa-d4c7-4c30-9421-d33391f88db9"
        autoplay muted loop></video>
    <br><br>
    <h2 class="step">Code Source :</h2>
    <a class="githubLink" href="https://github.com/MarzoukiAziz/App9--Schedule-Planner---FlutterCourse" target="_blank">
        <img class="github"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/f3mn2sw6is59zrxhzj51.jpg?alt=media&token=9dc18b84-5c6c-47a4-a553-fdc879d50b9f"
            alt="github">
</div>