<div class="contenu">
    <h1>
        App10 : Local Weather - Planning The App
    </h1>

    <li class="step">
        The Result :
    </li>
    <video class="ss"
        src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app11%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=386fe33d-36ba-4be7-bdd7-f6b50784ab3c"
        autoplay muted loop></video>
    <br>
    <br>

    <h3 class="note">New Widgets : </h3>
    <p>
        CircularProgressIndicator
    </p>


</div>