<div class="contenu">
    <h1>
        App11 : Discover Tunisia - Planning The App
    </h1>

    <li class="step">
        The Result :
    </li>
    <video class="ss"
        src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/App%2011%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=f16d9708-a180-4121-99fe-23017b18db16"
        autoplay muted loop></video>
    <br>
    <br>

    <h3 class="note">New Widgets : </h3>
    <p>
        DefaultTabController & TabBar - Scrollbar - ClipOval - SafeArea
    </p>
    <li class="step">
        Ressources :
    </li>
    <p>
        <strong>image links : </strong> <a
            href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/images.dart?alt=media&token=a2552ed4-44a3-4504-ace4-08c877050f81">download</a>
        <br>
        <strong>en.json : </strong> <a
            href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/en.json?alt=media&token=28add809-87a7-4787-affa-bd7b14a36ffa">download</a>
        <br>
        <strong>fr.json : </strong> <a
            href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/fr.json?alt=media&token=e1ee4749-273b-4c89-ba87-671a2562ab2a">download</a>
        <br>
        <strong>de.json : </strong> <a
            href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/de.json?alt=media&token=7cf84e01-2459-4295-9067-1e735164180d">download</a>
        <br>
    </p>

</div>