<div class="contenu">
    <h1> App11 : Discover Tunisia - Coding The App</h1>
    <br><br>
    <video class="ss"
        src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/App%2011%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=f16d9708-a180-4121-99fe-23017b18db16"
        autoplay muted loop></video>
    <br><br>
    <h2 class="step">Code Source :</h2>
    <a class="githubLink" href="https://github.com/moazmar/App11--Discover-Tunisia---FlutterCourse" target="_blank">
        <img class="github"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/f3mn2sw6is59zrxhzj51.jpg?alt=media&token=9dc18b84-5c6c-47a4-a553-fdc879d50b9f"
            alt="github">
</div>