<div class="contenu">
    <h1>
        Widgets
    </h1>

    <p>
        Flutter widgets are built using a modern framework that takes inspiration from React. The central idea is that you build your UI out of widgets. Widgets describe what their view should look like given their current configuration and state. <br><br>
Widgets are the building blocks of a Flutter app and each widget is an immutable declaration of the UI. We create the widget tree by placing all the widgets togther.  <br><br>
Widgets are the configuration to create elements. Elements are the widgets made concrete, meaning mounted and painted on the screen. <br>
    </p>
    <p>
        We will learn how to manipulate widgets in next chapter but let's take a look to some different types of widgets :
    </p>
    <ul>
        <li class="step">Widgets with structuring elements</li>
        <p>list, grid, button, text ...</p>
        <li class="step">Widgets with styling elements</li>
        <p>color, border, font, weight ...</p>
        <li class="step">
            Widgets with input elements
        </li>
        <p>
            form, formField, autocomplete ...
        </p>
        <li class="step"> 
            Widgets to lay out the UI
        </li>
        <p>
            column, row, stack, padding ...
        </p>
        <li class="step">
            Widgets with animation
        </li>
        <p>
            hero, slideTransition, fadeTransition, animatedContainer ...
        </p>
        <li class="step">
            Widgets with elements like assets
        </li>
        <p>
            image, icon, assetBundle ...
        </p>
        <li class="step">
            Widgets with interactive elements 
        </li>
        <p> 
            GestureDetector, Scrollable, Draggable ...
        </p>
        <li class="step">
            ....
        </li>
    </ul>
    <h2 class="note">Note:</h2>
    <p>
        We can create custom widgets. <br>
        We can use nested widgets (widget inside another widget).
    </p>
</div>