<div class="contenu">
    <h1>
        Box Model
    </h1>
    <p>
        The term "Box Model" is used when talking about design and layout. <br>

    </p>
    <img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/c2l4p1.png?alt=media&token=c6ee0e91-649f-4150-8118-e22769b31a66"
        alt="Flutter Box Model">
    <h3 class="note">
        Explanation of the different parts:
    </h3>
    <ul>
        <li>
            <p>
                <strong style="color: green;">Content : </strong><span>
                    The content of the box, where text and images appear.
                </span>
            </p>
        </li>
        <li>
            <p>
                <strong style="color: blue;">Padding : </strong><span>
                    Clears an area around the content. The padding is transparent
                </span>
            </p>
        </li>
        <li>
            <p>
                <strong style="color: hotpink;">Border : </strong><span>
                    A border that goes around the padding and content
                </span>
            </p>
        </li>

        <li>
            <p>
                <strong>Margin : </strong><span>
                    Clears an area outside the border. The margin is transparent
                </span>
            </p>
        </li>
    </ul>
    <br>
    <h3 class="note">
        Example :
    </h3>
    <div class="code">
        <p><span style='color:#4EC9B0'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Container</span><span
                style='color:#D4D4D4'>(</span></p>

        <p><span
                style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;child:&nbsp;</span><span
                style='color:#4EC9B0'>Text</span><span style='color:#D4D4D4'>(</span><span
                style='color:#CE9178'>&quot;Content&quot;</span><span style='color:#D4D4D4'>),</span></p>

        <p><span
                style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;width:&nbsp;</span><span
                style='color:#B5CEA8'>350</span><span style='color:#D4D4D4'>,</span></p>

        <p><span
                style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;</span><span
                style='color:#B5CEA8'>100</span><span style='color:#D4D4D4'>,</span></p>

        <p><span
                style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;padding:&nbsp;</span><span
                style='color:#4EC9B0'>EdgeInsets</span><span style='color:#D4D4D4'>.</span><span
                style='color:#DCDCAA'>all</span><span style='color:#D4D4D4'>(</span><span
                style='color:#B5CEA8'>25</span><span style='color:#D4D4D4'>),</span></p>

        <p><span
                style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;margin:&nbsp;</span><span
                style='color:#4EC9B0'>EdgeInsets</span><span style='color:#D4D4D4'>.</span><span
                style='color:#DCDCAA'>only</span><span style='color:#D4D4D4'>(right:&nbsp;</span><span
                style='color:#B5CEA8'>20</span><span style='color:#D4D4D4'>,&nbsp;top:&nbsp;</span><span
                style='color:#B5CEA8'>50</span><span style='color:#D4D4D4'>),</span></p>

        <p><span
                style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;decoration:&nbsp;</span><span
                style='color:#4EC9B0'>BoxDecoration</span><span style='color:#D4D4D4'>(</span></p>

        <p><span
                style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;border:&nbsp;</span><span
                style='color:#4EC9B0'>Border</span><span style='color:#D4D4D4'>.</span><span
                style='color:#DCDCAA'>all</span><span style='color:#D4D4D4'>(width:&nbsp;</span><span
                style='color:#B5CEA8'>2</span><span style='color:#D4D4D4'>,&nbsp;color:&nbsp;</span><span
                style='color:#4EC9B0'>Colors</span><span style='color:#D4D4D4'>.pink)),</span></p>

        <p><span style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
        </p>
        <br>
    </div>
    <br>
    <img class="ss"
        src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/c2l4p2.jpg?alt=media&token=b557b373-ac53-41ed-9183-1588aea78c05"
        alt="Flutter Box Model Example">
</div>