<div class="contenu">
    <h1>
        Exercices
    </h1>
    <br>
    <h2 class="step">
        Questions:
    </h2>
    <br>
    <br>
    <ol>
        <li>
            <p>
                Stateless Widgets are ..... widgets while Stateful Widgets are ...... widgets.
            </p>
        </li>
        <li>
            <p>
                ......... can be updated during runtime based on user action or data change while .........do not depend
                on any data change or any behavior change.
            </p>
        </li>
        <li>
            <p>
                Stateful Widgets have an internal ...... and can re-render if the input data changes or if
                Widget’s ...... changes.
            </p>
        </li>
        <li>
            <p>
                Stateless Widgets do not have a ........., they will be rendered once and will not update
                themselves, but will only be updated when external data changes.
            </p>
        </li>
        <p style="color: blueviolet;">
            Name the Method :
        </p>
        <li>
            <p>
                .......... : Draw the part of the user interface represented by the widget.
            </p>
        </li>
        <li>
            <p>
                .......... : Notifies the framework that the state of this object has changed to schedule calling
                the build for this State object.
            </p>
        </li>
        <li>
            <p>
                A stateless widget is formed by a combination of several small widgets. Each widget that is created here
                will have a corresponding stateless element. So several widgets combined under stateless widgets will be
                called .................... and the corresponding elements will make an .......... .
            </p>
        </li>
        <li>
            <p>
                The stateful widget also works similar to the stateless widget, but here when the framework calls the
                createElement method, a ........... is created.
            </p>
        </li>
        <li>
            <p style="color: blueviolet;">
                Name the Box Model parts :
            </p>
        </li>
        <img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/c2exp1.png?alt=media&token=2c6bbd57-4e28-4af5-8f2c-17eaf8bcad4f"
            alt="flutter box model exercice">
    </ol>
    <br>
    <br>
    <br>
    <br>
    <h2 class="step">
        Answers:
    </h2>
    <br>

    <ol>
        <p>
            <li>
                <p> static / dynamic</p>
            </li>
            <li>
                <p> Stateful Widgets / Stateless Widgets </p>
            </li>
            <li>
                <p> state / state</p>
            </li>
            <li>
                <p>
                    state
                </p>
            </li>
            <li>
                <p> build() </p>
            </li>
            <li>
                <p> setState() </p>
            </li>
            <li>
                <p> stateless widget trees / element tree</p>
            </li>
            <li>
                <p> state object</p>
            </li>
            <li>
                <p>
                    Height / Width / Padding / Border / Margin
                </p>
            </li>
        </p>
</div>