<div class="contenu">
    <h1>
        App1 : Elon Musk’s Resume - Planning The App
    </h1>
    <ol>


        <li class="step">
            The Result :
        </li>
        <video class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app1_view.mp4?alt=media&token=9c68d67f-15d2-4a1b-9871-75c8db15624e"
            autoplay muted loop></video>
        <br>
        <br>
        <li class="step">
            Widget Tree :
        </li>
        <img class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/c3l1p1.jpg?alt=media&token=77567dcf-55a2-46af-9309-64f1d53fdbfd"
            alt=" App1 : Elon Musk’s Resume - Widget Tree">
        <br>
        <h3 class="note">New Widgets : </h3>
        <p>
            Scaffold - AppBar - SingleChildScrollView - Column - Row - Container - Text - Image - Icon - SizedBox
        </p>
        <li class="step">
            Ressources :
        </li>
        <p>
            <strong>Photo</strong> : <a
                href="https://media.vanityfair.com/photos/58ed4db975dd30329d3c49c4/5:3/w_1440,h_864,c_limit/elon-musk-detroit.jpg">link</a>
            <br> <strong>Texts</strong> : <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app%201%20text%20ressource.txt?alt=media&token=6294eb74-6317-4f56-a7c4-5027a1da811c">link</a>
            <br>

        </p>
    </ol>
</div>