<div class="contenu">
    <h1>App1 : Elon Musk’s Resume - Coding The App</h1>
    <h2>
        Follow the instructions in this video :
    </h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QVqc8EvPwKU" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <br>
    <br>
    <h2 class="step">Code Source :</h2>
    <a class="githubLink" href="https://github.com/MarzoukiAziz/App1--Elon-Musk-Resume---FlutterCourse" target="_blank">
        <img class="github"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/f3mn2sw6is59zrxhzj51.jpg?alt=media&token=9dc18b84-5c6c-47a4-a553-fdc879d50b9f"
            alt="github">
    </a>
</div>