<div class="contenu">
    <h1>
        App2 : 5K Quotes - Planning The App
    </h1>
    <ol>


        <li class="step">
            The Result :
        </li>
        <video class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app%202%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=9cf425a3-f644-4c3f-83a6-0011f30cfd63"
            autoplay muted loop></video>
        <br>
        <br>
        <li class="step">
            Widget Tree :
        </li>
        <img class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/c4l1p1.jpg?alt=media&token=f0aebe50-4791-4da9-a01b-114714b8cbe9"
            alt=" App2 : 5K Quotes - Widget Tree">
        <br>
        <h3 class="note">New Widgets : </h3>
        <p>
            FloatingActionButton - Image(Asset)
        </p>
        <li class="step">
            Ressources :
        </li>
        <p>
            <strong>Photo</strong> : <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/quoteImage.png?alt=media&token=38137f05-7dbe-4dee-8cdf-142cc0064726">link</a>
            <br>
            <strong>Quotes File : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/quotes.dart?alt=media&token=84759446-a478-40a2-b134-debe2a94a5cf">link</a>
            <br>
            <strong>Font Family : </strong> Lobster <a target="_blank"
                href="https://fonts.google.com/specimen/Lobster">Download From
                Google Fonts</a>

        </p>
    </ol>
</div>