<div class="contenu">
    <h1>
        Colors in Flutter
    </h1>
    <ol>
        <li class="step">Color(int value)</li>
        <p>
            Construct a color from the lower 32 bits of an int. <br>
            A <span class="word">hexadecimal color</span> is specified with: #RRGGBB, where the RR (red), GG (green) and
            BB (blue) hexadecimal
            integers specify the components of the color. All values must be between 00 and FF.
        </p>
        <li class="step">
            Color.fromARGB(int a, int r, int g, int b)
        </li>
        <p>
            Construct a color from the lower 8 bits of four integers: <br>
            - a is the alpha value, with 0 being transparent and 255 being fully opaque. <br>
            - r is red, from 0 to 255. <br>
            - g is green, from 0 to 255. <br>
            - b is blue, from 0 to 255. <br>
        </p>
        <li class="step">
            Color.fromRGBO(int r, int g, int b, double opacity)
        </li>
        <p>
            Create a color from red, green, blue, and opacity, similar to rgba() in CSS. <br>
            - r is red, from 0 to 255. <br>
            - g is green, from 0 to 255. <br>
            - b is blue, from 0 to 255. <br>
            - opacity is alpha channel of this color as a double, with 0.0 being transparent and 1.0 being fully opaque.
            <br>
        </p>
        <li class="step">
            Colors
        </li>
        <p>
            Defines the colors that most of the Material components use by default.
        </p>
        <h3 class="note">
            Example
        </h3>
        <div class="code">

            <p><span style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                    style='color:#4EC9B0'>Column</span><span style='color:#D4D4D4'>(</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;children:&nbsp;[</span>
            </p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                    style='color:#4EC9B0'>Container</span><span style='color:#D4D4D4'>(</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;</span><span
                    style='color:#B5CEA8'>100</span><span style='color:#D4D4D4'>,</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;</span><span
                    style='color:#4EC9B0'>Color</span><span style='color:#D4D4D4'>(</span><span
                    style='color:#B5CEA8'>0xAF42A5F5</span><span style='color:#D4D4D4'>),</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;),</span>
            </p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                    style='color:#4EC9B0'>Container</span><span style='color:#D4D4D4'>(</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;</span><span
                    style='color:#B5CEA8'>100</span><span style='color:#D4D4D4'>,</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;</span><span
                    style='color:#4EC9B0'>Color</span><span style='color:#D4D4D4'>.</span><span
                    style='color:#DCDCAA'>fromARGB</span><span style='color:#D4D4D4'>(</span><span
                    style='color:#B5CEA8'>255</span><span style='color:#D4D4D4'>,&nbsp;</span><span
                    style='color:#B5CEA8'>255</span><span style='color:#D4D4D4'>,&nbsp;</span><span
                    style='color:#B5CEA8'>165</span><span style='color:#D4D4D4'>,&nbsp;</span><span
                    style='color:#B5CEA8'>245</span><span style='color:#D4D4D4'>),</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;),</span>
            </p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                    style='color:#4EC9B0'>Container</span><span style='color:#D4D4D4'>(</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;</span><span
                    style='color:#B5CEA8'>100</span><span style='color:#D4D4D4'>,</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;</span><span
                    style='color:#4EC9B0'>Color</span><span style='color:#D4D4D4'>.</span><span
                    style='color:#DCDCAA'>fromRGBO</span><span style='color:#D4D4D4'>(</span><span
                    style='color:#B5CEA8'>66</span><span style='color:#D4D4D4'>,&nbsp;</span><span
                    style='color:#B5CEA8'>32</span><span style='color:#D4D4D4'>,&nbsp;</span><span
                    style='color:#B5CEA8'>145</span><span style='color:#D4D4D4'>,&nbsp;</span><span
                    style='color:#B5CEA8'>1.0</span><span style='color:#D4D4D4'>),</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;),</span>
            </p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                    style='color:#4EC9B0'>Container</span><span style='color:#D4D4D4'>(</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;height:&nbsp;</span><span
                    style='color:#B5CEA8'>100</span><span style='color:#D4D4D4'>,</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color:&nbsp;</span><span
                    style='color:#4EC9B0'>Colors</span><span style='color:#D4D4D4'>.purple,</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;),</span>
            </p>

            <p><span style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;],</span></p>

            <p><span style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span></p>
            <br>
        </div>
        <br>
        <img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/c4l5p1.png?alt=media&token=9d79445d-2cac-4645-b0ea-ca91a702b3f4"
            alt="Colors in Flutter" class="ss">
        <br>
        <li class="step">
            Gradients
        </li>
        <p>
            Color gradients take a starting color and position and ending color and position. Then it performs a
            transition between the colors.
        </p>
        <h3 class="note">Example : </h3>
        <div class="code">


            <p><span style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                    style='color:#4EC9B0'>Container</span><span style='color:#D4D4D4'>(</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;decoration:&nbsp;</span><span
                    style='color:#4EC9B0'>BoxDecoration</span><span style='color:#D4D4D4'>(</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gradient:&nbsp;</span><span
                    style='color:#4EC9B0'>LinearGradient</span><span style='color:#D4D4D4'>(</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;begin:&nbsp;</span><span
                    style='color:#4EC9B0'>Alignment</span><span style='color:#D4D4D4'>.topRight,</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end:&nbsp;</span><span
                    style='color:#4EC9B0'>Alignment</span><span style='color:#D4D4D4'>.bottomLeft,</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;colors:&nbsp;[</span>
            </p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                    style='color:#4EC9B0'>Colors</span><span style='color:#D4D4D4'>.blue,</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
                    style='color:#4EC9B0'>Colors</span><span style='color:#D4D4D4'>.red,</span></p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;],</span>
            </p>

            <p><span
                    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
            </p>

            <p><span style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;),</span></p>

            <p><span style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span></p>
            <br>
        </div>
        <br>
        <img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/c4l5p2.png?alt=media&token=987e25fd-8353-42e9-9239-ce9d92f20d47"
            alt="Color Gradients in Flutter" class="ss">
    </ol>
</div>