<div class="contenu">
    <h1>
        App3 : Simple Calculator - Planning The App
    </h1>
    <ol>


        <li class="step">
            The Result :
        </li>
        <video class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app3%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=3c3a21e1-7b76-49e1-9817-0cdcf73229a4"
            autoplay muted loop></video>
        <br>
        <br>
        <li class="step">
            Widget Tree :
        </li>
        <img class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/c5l1p1.jpg?alt=media&token=5a9868e9-9499-4e7d-8e55-197044ecb233"
            alt=" App3 : Simple Calculator - Widget Tree">
        <br>
        <h3 class="note">New Widgets : </h3>
        <p>
            TextButton - FittedBox - Padding - Align
        </p>
        <h3 class="note">Note: </h3>
        <p>
            CalcBtn is a custom widget.
        </p>
        <li class="step">
            Ressources :
        </li>
        <p>
            <strong>Package : </strong> <a
                href="https://pub.dev/packages/math_expressions/install">math_expressions</a><br>
            <strong>Font : </strong> <a href="https://fonts.google.com/specimen/Audiowide">Audiowide</a> <br>
            <strong>C button : </strong> clear the expression <br>
            <strong>AC button : </strong> clear the expression and the history
        </p>
    </ol>
</div>