<div class="contenu">
    <h1> App3 : Simple Calculator - Coding The App</h1>
    <br>
    <br>
    <video class="ss"
        src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app3%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=3c3a21e1-7b76-49e1-9817-0cdcf73229a4"
        autoplay muted loop></video>
    <br><br>
    <h2 class="step">Code Source :</h2>
    <a class="githubLink" href="https://github.com/moazmar/App3--Simple-Calculator---FlutterCourse" target="_blank">
        <img class="github"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/f3mn2sw6is59zrxhzj51.jpg?alt=media&token=9dc18b84-5c6c-47a4-a553-fdc879d50b9f"
            alt="github">
    </a>
</div>