<div class="contenu">
    <h1>
        App4 : Flags Quiz - Planning The App
    </h1>
    <ol>


        <li class="step">
            The Result :
        </li>
        <video class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app%204%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=894c9804-aee0-43b5-930e-65069089f0cc"
            autoplay muted loop></video>
        <br>
        <br>

        <h3 class="note">New Widgets : </h3>
        <p>
            ClipRRect - GestureDetector - Divider
        </p>

        <li class="step">
            Ressources :
        </li>
        <p>
            <strong>Flags Zip : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/flags.rar?alt=media&token=bd7e8363-d8d5-43d5-ad44-d495cb61c9c2">Download</a><br>
            <strong>countries.dart file : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/countries.dart?alt=media&token=0b69741c-dd2e-47eb-8dc8-d7afe817df86">Download</a>
            <br>
            <strong>Globe Icon : </strong><a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/globe.png?alt=media&token=838e4874-0511-4493-9ebd-fbe7ad71d1e1">Download</a>
        </p>
    </ol>
</div>