<div class="contenu">
    <h1>
        App5 : Yacht Charter - Planning The App
    </h1>
    <ol>


        <li class="step">
            The Result :
        </li>
        <video class="ss"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app5%20preview.mp4?alt=media&token=2947128e-a194-4b43-89bb-ee7504a3cf0c"
            autoplay muted loop></video>
        <br>
        <br>

        <h3 class="note">New Widgets : </h3>
        <p>
            Stack - DropdownButton - Slider - CheckBox - Positioned
        </p>

        <li class="step">
            Ressources :
        </li>
        <p>
            <strong>Photos : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app5%20photos.rar?alt=media&token=a9dc79bc-3c2c-4d41-bfad-c0fd42f31d4f">download</a>
            <br>
            <strong>Yachts Data : </strong> <a
                href="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/yachts.dart?alt=media&token=950287ad-ec0b-4ca3-b57b-71465a7fc893">download</a>
            <br>
        </p>

    </ol>
</div>