<div class="contenu">
    <h1> App5 : Yacht Charter - Coding The App</h1>
    <br><br>
    <video class="ss"
        src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app5%20preview.mp4?alt=media&token=2947128e-a194-4b43-89bb-ee7504a3cf0c"
        autoplay muted loop></video>
    <br><br>
    <h2 class="step">Code Source :</h2>
    <a class="githubLink" href="https://github.com/moazmar/App5--Yacht-Charter--FlutterCourse" target="_blank">
        <img class="github"
            src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/f3mn2sw6is59zrxhzj51.jpg?alt=media&token=9dc18b84-5c6c-47a4-a553-fdc879d50b9f"
            alt="github">
</div>