<div class="contenu">
    <br>
    <h1>Course Apps & Covered Topics</h1>
    <br>
    <p>
        Become a modern and complete Flutter developer! <br><br>
        This section is packed with hands-on Flutter apps. You will learn everything from A to Z to make each
        app. This bootcamp is designed for everyone who want to make a Flutter app. These lessons are very interesting
        and attractive which makes learners desire to learn to make apps.
        <br><br>
        You will learn how to setup your development environment then build the
        following projects step by step:
    </p>
    <br><br>
    <table class="tableau">
        <tr>
            <th>App</th>
            <th>Covered Topics</th>
        </tr>
        <tr>
            <td>
                <h3>
                    App0 : The Default App
                </h3>
                <img style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/c1l5p2.png?alt=media&token=03f66019-1d27-41e7-9544-14a909e9475d"
                    alt="app0 preview">
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>
                            Setup The development environment
                        </p>
                    </li>
                    <li>
                        <p>
                            Widgets Concept
                        </p>
                    </li>
                    <li>
                        <p>
                            Stateless vs Stateful Widget
                        </p>
                    </li>
                    <li>
                        <p>
                            Widget Tree & Element Tree
                        </p>
                    </li>
                    <li>
                        <p>
                            Box Model
                        </p>
                    </li>
                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;"> Center
                            </span>
                        </h3>

                    </li>
                </ul>
                <h2 style="text-align: right;margin: 20px;">
                    <img style="width: 35px;height: 35px;" src="/images/video.png" alt=""> 1
                </h2>
            </td>
        </tr>

        <tr>
            <td>
                <h3>
                    App1 : Elon Musk’s Resume
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app1_view.mp4?alt=media&token=9c68d67f-15d2-4a1b-9871-75c8db15624e"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>
                            MainAxisAlignment & CrossAxisAlignment
                        </p>
                    </li>

                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;"> Scaffold - AppBar - SingleChildScrollView -
                                Column - Row - Container - Text - Image - Icon - SizedBox
                            </span>
                        </h3>

                    </li>
                </ul>
                <h2 style="text-align: right;margin: 20px;">
                    <img style="width: 35px;height: 35px;" src="/images/video.png" alt=""> 1
                </h2>
            </td>

        </tr>
        <tr>
            <td>
                <h3>
                    App2 : 5K Quotes
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app%202%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=9cf425a3-f644-4c3f-83a6-0011f30cfd63"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>
                            Include assets
                        </p>
                    </li>
                    <li>
                        <p>
                            Include custom fonts
                        </p>
                    </li>
                    <li>
                        <p>
                            Colors & Gradients in Flutter
                        </p>
                    </li>


                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;"> FloatingActionButton - Image(Asset)
                            </span>
                        </h3>

                    </li>
                </ul>
                <h2 style="text-align: right;margin: 20px;">
                    <img style="width: 35px;height: 35px;" src="/images/video.png" alt=""> 1
                </h2>

            </td>

        </tr>

        <tr>
            <td>
                <h3>
                    App3 : Simple Calculator
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app3%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=3c3a21e1-7b76-49e1-9817-0cdcf73229a4"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>
                            Using Packages
                        </p>
                    </li>


                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;"> TextButton - FittedBox - Padding - Align
                            </span>
                        </h3>

                    </li>
                </ul>

            </td>

        </tr>


        <tr>
            <td>
                <h3>
                    App4 v1 : Flags Quiz
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app%204%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=894c9804-aee0-43b5-930e-65069089f0cc"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>
                            Running Apps On Different Devices : Real Android Device, iOS Emulator, Real iOS Device,
                            Chrome
                        </p>
                    </li>
                    <li>
                        <p>
                            Understanding Error Messages & Fixing Errors
                        </p>
                    </li>
                    <li>
                        <p>
                            Debugger
                        </p>
                    </li>
                    <li>
                        <p>
                            Dart DevTools
                        </p>
                    </li>

                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;"> ClipRRect - GestureDetector - Divider
                            </span>
                        </h3>

                    </li>
                </ul>

            </td>

        </tr>



        <tr>
            <td>
                <h3>
                    App5 : Yacht Charter
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app5%20preview.mp4?alt=media&token=2947128e-a194-4b43-89bb-ee7504a3cf0c"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>
                            Sound null safety
                        </p>
                    </li>
                    <li>
                        <p>
                            Const Widget
                        </p>
                    </li>


                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;"> Stack - DropdownButton - Slider - CheckBox -
                                Positioned
                            </span>
                        </h3>

                    </li>
                </ul>

            </td>

        </tr>

        <tr>
            <td>
                <h3>
                    App6 v1 : My Books
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app%206%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=484c3116-7ebf-4e00-8972-959db1b5872a"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>
                            Mapping Data to Widgets + <span style="color: orangered;">Exercise </span>
                        </p>
                    </li>
                    <li>
                        <p>
                            showModalBottomSheet + <span style="color: orangered;">Exercise </span>
                        </p>
                    </li>

                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;"> IconButton - TextField - CircleAvatar - Card -
                                ListTile - Flexible - ListView - BottomNavigationBar
                            </span>
                        </h3>

                    </li>
                </ul>

            </td>

        </tr>
        <tr>
            <td>
                <h3>
                    App6 v2 : My Books
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app6v2preview.mp4?alt=media&token=8c1e70f6-06a1-4c0f-a9bb-e3129d73b7f1"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>
                            The difference between an adaptive and a responsive app
                        </p>
                    </li>
                    <li>
                        <p>
                            Calculating the size dynamically + <span style="color: orangered;">Exercise </span>
                        </p>
                    </li>
                    <li>
                        <p>
                            Using the LayoutBuilder class + <span style="color: orangered;">Exercise </span>
                        </p>
                    </li>
                    <li>
                        <p>
                            Device Orientation
                        </p>
                    </li>
                    <li>
                        <p>
                            Respecting the Softkeyboard Insets
                        </p>
                    </li>
                    <li>
                        <p>
                            Content depending on the available device size + <span style="color: orangered;">Exercise
                            </span>
                        </p>
                    </li>
                    <li>
                        <p>
                            Checking Device Platform + <span style="color: orangered;">Exercise </span>
                        </p>
                    </li>
                    <li>
                        <p>
                            Cupertino (iOS-style) widgets + <span style="color: orangered;">Exercise </span>
                        </p>
                    </li>
                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;">
                                CupertinoButton - CupertinoPicker - CupertinoTabBar - CupertinoTextField -
                                CupertinoNavigationBar
                            </span>
                        </h3>

                    </li>
                </ul>

            </td>

        </tr>
        <tr>
            <td>
                <h3>
                    App7 : Short Vacation
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app7_preview.mp4?alt=media&token=945a90ce-8882-4aa9-986b-edaa1998d442"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>Date Picker
                        </p>
                    </li>

                    <li>
                        <p>
                            Best Practises For Better Flutter Code
                        </p>
                    </li>
                    <li>
                        <p>
                            Flutter BuildContext
                        </p>
                    </li>

                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;">
                                CupertinoDatePicker - OutlinedButton
                            </span>
                        </h3>

                    </li>
                </ul>

            </td>

        </tr>
        <tr>
            <td>
                <h3>
                    App8 v1 : Movie Time
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app8_preview.mp4?alt=media&token=bcc5931f-f014-4bca-9d72-ecfdddbfd2a8"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>Theme
                        </p>
                    </li>

                    <li>
                        <p>
                            Navigation (Navigator 1.0)
                        </p>
                    </li>


                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;">
                                GridView - Table
                            </span>
                        </h3>

                    </li>
                </ul>

            </td>

        </tr>
        <tr>
            <td>
                <h3>
                    App9 : Schedule Planner
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app9%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=f5ebb9fa-d4c7-4c30-9421-d33391f88db9"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>Build a form with validation
                        </p>
                    </li>

                    <li>
                        <p>
                            Pass arguments to a named route
                        </p>
                    </li>
                    <li>
                        <p>
                            Differentiate between ephemeral state and app state
                        </p>
                    </li>
                    <li>
                        <p>
                            Introduction to Provider
                        </p>
                    </li>

                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;">
                                Drawer - SnackBar - AlertDialog - Chip - Radio - PopupMenuButton - ExpansionPanel
                            </span>
                        </h3>

                    </li>
                </ul>

            </td>

        </tr>
        <tr>
            <td>
                <h3>
                    App4 v2 : Flags Quiz
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app4v2.mp4?alt=media&token=c1729bef-4dbf-4e45-86d5-5c2cff241129"
                    autoplay muted loop></video>
                <h3>
                    App8 v2 : Movie Time
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app8v2.mp4?alt=media&token=9c3e13f8-edc1-446e-abeb-9f50a3a2b82f"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>Shared Preferences
                        </p>
                    </li>


                </ul>

            </td>

        </tr>
        <tr>
            <td>
                <h3>
                    App10 : Mo Weather
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/app11%20preview%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=386fe33d-36ba-4be7-bdd7-f6b50784ab3c"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>Networking & Http
                        </p>
                    </li>

                    <li>
                        <p>
                            JSON
                        </p>
                    </li>
                    <li>
                        <p>
                            Fetch data from the internet
                        </p>
                    </li>
                    <li>
                        <p>
                            The Weather Model Class
                        </p>
                    </li>

                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;">
                                CircularProgressIndicator
                            </span>
                        </h3>

                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    App11 : Discover Tunisia
                </h3>

                <video style="width: 250px;"
                    src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/App%2011%20%E2%80%90%20Made%20with%20Clipchamp.mp4?alt=media&token=f16d9708-a180-4121-99fe-23017b18db16"
                    autoplay muted loop></video>
            </td>
            <td class="left-align">
                <ul>
                    <li>
                        <p>Internationalization
                        </p>
                    </li>

                    <li>
                        <p>
                            Using Google Maps
                        </p>
                    </li>


                    <li>
                        <h3 class="note">
                            Widgets : <span style="color: darkgreen;">
                                DefaultTabController & TabBar - Scrollbar - ClipOval - SafeArea
                            </span>
                        </h3>

                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>