<div class="contenu">
    <h1>The Software</h1>
    <p>
        As of Flutter 1.21, the <strong>Flutter SDK</strong> includes the full Dart SDK. So, if you have Flutter installed, you might not need to explicitly download the Dart SDK.
    </p>
    <br>
    <a href="https://flutter.dev/docs/get-started/install">
        <h2 class="step">
            Installing the Flutter SDK
        </h2>
    </a>
    <br>
    <p>
        Consider downloading the Dart SDK if any of the following are true:
    </p>
    <ul>
        <li>
        <p>You don’t use Flutter.</p>
        </li>
        <li>
        <p>You use a pre-1.21 version of Flutter.</p>
        </li>
        <li>
            <p>You want to reduce disk space requirements or download time, and your use case doesn’t require Flutter. For example, you might have a continuous integration (CI) setup that requires Dart but not Flutter.</p>
        </li>
    </ul>
    <br>
    <a href="https://dart.dev/get-dart">
    <h2 class="step">
        Installing the Dart SDK
    </h2>
    </a>
</div>