<div class="contenu">
			<h1>Hello World</h1>
			<p>&nbsp;</p>
			<p><span class="step">Step 1</span>: Create a folder &ldquo;learning dart&rdquo; and open it using VS code.</p>
			<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/1.jpg?alt=media&token=6fc293d5-8057-432d-9c2c-4905b1894aa5" alt="">
			<p>Then create inside this folder a file &ldquo;helloworld.dart&rdquo;.</p>
			<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/2.png?alt=media&token=24d50388-df59-4bc7-a403-2b78d3d70c7d" alt="">
			<br>
			<br>
			<br>
			<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/3.png?alt=media&token=14c2b53e-9359-47f1-b724-003ffe00b9b3" alt="">
			<p>Note: the role of &ldquo;.dart&rdquo; extension is to specify a Dart program file.</p>
			<p>&nbsp;</p>
			<p><span class="step">Step 2</span>: Write this code in it:</p>
			<div class="code">

					<p ><span style=' 
color:#569CD6'>void</span><span style='
					color:#DCDCAA'> main</span><span style='
					color:#D4D4D4'>()&nbsp;{</span></p>
	
					<p><span style='
					color:#D4D4D4'> &nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='
					color:#CE9178'>&quot;hello&nbsp;World!&quot;</span><span style='color:#D4D4D4'>);</span></p>
	
					<p><span style=' 
					color:#D4D4D4'> }</span></p>
					<br>
				</div>
			<br>

			<ul>
			<li><strong><u class="title">Semicolons (&nbsp;; )&nbsp;:<br /> </u></strong><p>Every individual statement must be ended with a semicolon (necessary).</p></li>
			<li><strong><u class="title">Whitespace, tabs &amp; line breaks:<br /> </u></strong><p>These are very important to make the program easy to read and understand.</p></li>
			<li><strong><u class="title">Block:<br /> </u></strong><p>{ start of block<br /> <u> </u>statement(s)<br /> } end of block<br /> the role of these two curly braces is to group all of the statements.</p></li>
			<li><strong><u class="title">main():<br /> </u></strong><p>The starting point for program execution. A program usually stops executing at the end of main. It is required for every program.</p></li>
			<li><strong><u class="title">print():<br /> </u></strong><p>The function that display the content between double quotes to the screen.</p></li>
			</ul>
			<p>&nbsp;</p>
			<p><span class="note">Note</span>: Dart is a <strong>case-sensitive. </strong></p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ex: &ldquo;Start&rdquo; and &ldquo;start&rdquo; are not the same.</p>
			<p>&nbsp;</p>
			<p><span class="step">Step 3</span>: Run the program:</p>
			<br>
			<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/4.png?alt=media&token=fc43e8b6-4c88-413f-901e-7ec21b0ef664" alt="">
			<br>
			<br>
			<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/5.png?alt=media&token=b73f50b3-1603-4909-95d2-fa3175b80d68" alt="">
			<p>Note: It the debug console is not shown when you clicked on run you must open it .</p></nowrap></nobr>
			<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/6.png?alt=media&token=7f405abb-cf94-4dcf-a667-2d42dd8cd4a7" alt="">
	
		</div>