<div class="contenu">
    <h1>Exercises </h1>
    <br>
    <h2 class="step">
        Questions:
    </h2>
    <br>
    <br>
    <ol>
<li><p> Dart is ( object-oriented programming / Functional Programming ) language.</p></li>
<li><p> Dart is developed by ( Facebook / Google / Microsoft ).</p></li>
<li><p> Vs Code is ( framework /programming language / ide ).</p></li>
<li><p> Dart extension is( .dt / .dart / .dar ).</p></li>
<li><p> Semicolons are ( required / optional ).</p></li>
<li><p> Do the dart program require a main() function to run the code ( Yes / No ).</p></li>
<li><p> Dart uses ( () / {} / [] ) to create a block.</p></li>
    </ol>
    <br>
    <br>
    <br>
    <br>
    <h2 class="step">
        Answers: 
    </h2>
    <br>
 
    <ol>
<p>
    <li><p> object-oriented programming </p></li>
    <li><p> Google </p></li>
    <li><p> ide </p></li>
    <li><p> .dart </p></li>
    <li><p> required </p></li>
    <li><p> Yes </p></li>
    <li><p> {} </p></li>
</p>

    </ol>
</div>