<div class="contenu">
    <h1>
        Mixins
    </h1>
    
    <ol>
        <li class="step">
            The need of mixins
        </li>
        <p>
            Let's say, we have Printer, Scanner and All-in-One classes. All-in-One have all functionalities of both Printer and Scanner. Like this:
        </p>
        <br>
        
<div class=code>

    <p ><span
    style='color:#569CD6'>class</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>Printer</span><span
    style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;</span><span
    style='color:#569CD6'>void</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#DCDCAA'>printX</span><span
    style='color:#D4D4D4'>(doc)&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#6A9955'>//Print&nbsp;the&nbsp;doc</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;</span></p>
    
    <p ><span
    style='color:#569CD6'>class</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>Scanner</span><span
    style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;</span><span
    style='color:#4EC9B0'>String</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#DCDCAA'>scanX</span><span
    style='color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#6A9955'>//Scan</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#4EC9B0'>String</span><span
    style='color:#D4D4D4'>&nbsp;x&nbsp;=&nbsp;</span><span
    style='color:#CE9178'>&quot;Scanned&quot;</span><span
    style='color:#D4D4D4'>;</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#C586C0'>return</span><span
    style='color:#D4D4D4'>&nbsp;x;</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;</span></p>
    
    <p ><span
    style='color:#569CD6'>class</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>AllInOne</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#569CD6'>extends</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>Printer</span><span
    style='color:#D4D4D4'>&nbsp;,&nbsp;</span><span
    style='color:#4EC9B0'>Scanner</span><span
    style='color:#D4D4D4'>{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;</span><span
    style='color:#569CD6'>void</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#DCDCAA'>showStatus</span><span
    style='color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#DCDCAA'>print</span><span
    style='color:#D4D4D4'>(</span><span
    style='color:#CE9178'>&quot;Ready&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>}</span></p>
    
    <br>
    
    </div>
    <p>
        But unfortunately, above code doesn’t run because Dart doesn’t support multiple inheritance. <br>
        So, All-in-One  can’t extend both Printer and Scanner. It has to provide its own implementation of printX and scanX. Then, there will be same method with same implementation in two different classes.
    </p>
    <li class="step">
        Adding mixins to a class

    </li>
    <p>
        Mixins are a way of reusing a class’s code in multiple class hierarchies. <br>
        <br>
        To use a mixin, use the <span class="word">with</span> keyword followed by one or more mixin names. Our example become:
    </p>
    
<div class=code>

    <p ><span
    style='color:#569CD6'>mixin</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>Printer</span><span
    style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;</span><span
    style='color:#569CD6'>void</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#DCDCAA'>printX</span><span
    style='color:#D4D4D4'>(doc)&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#6A9955'>//Print&nbsp;the&nbsp;doc</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;</span></p>
    
    <p ><span
    style='color:#569CD6'>mixin</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>Scanner</span><span
    style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;</span><span
    style='color:#4EC9B0'>String</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#DCDCAA'>scanX</span><span
    style='color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#6A9955'>//Scan</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#4EC9B0'>String</span><span
    style='color:#D4D4D4'>&nbsp;x&nbsp;=&nbsp;</span><span
    style='color:#CE9178'>&quot;Scanned&quot;</span><span
    style='color:#D4D4D4'>;</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#C586C0'>return</span><span
    style='color:#D4D4D4'>&nbsp;x;</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;</span></p>
    
    <p ><span
    style='color:#569CD6'>class</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>AllInOne</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#569CD6'>with</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>Printer</span><span
    style='color:#D4D4D4'>,&nbsp;</span><span
    style='color:#4EC9B0'>Scanner</span><span
    style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;</span><span
    style='color:#569CD6'>void</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#DCDCAA'>showStatus</span><span
    style='color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#DCDCAA'>print</span><span
    style='color:#D4D4D4'>(</span><span
    style='color:#CE9178'>&quot;Ready&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>}</span></p>
    
    <br>
    
    </div>
    <br>
    <p>
        Now, All-in-One is running after changing the declartion of Printer and Scanner to <span class="word">mixin</span> and use <span class="word">with</span> instead of extends. <br><br>
    </p>
    <h3 class="note">
        Note:
    </h3>
    <ul>
        <li><p>
            Mixins can't have constructors.
        </p></li>
        <li>
            <p>
                Mixins can't be instantiated.
            </p>
        </li>
        <li>
            <p>
                Unless you want your mixin to be usable as a regular class, use the mixin keyword instead of <span class="word">class</span>. 
        </li>
    </ul>
    <br>
    <li class="step">Mixins restrictions</li>
    <p>
        Sometimes you might want to restrict the types that can use a mixin. For example, the mixin might depend on being able to invoke a method that the mixin doesn’t define. As the following example shows, you can restrict a mixin’s use by using the <span class="word">on</span> keyword to specify the required superclass:
    </p>
    <br>
<div class=code>

    <p ><span
    style='color:#569CD6'>mixin</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>Printer</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#C586C0'>on</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>AllInOne</span><span
    style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;</span><span
    style='color:#569CD6'>void</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#DCDCAA'>printX</span><span
    style='color:#D4D4D4'>(doc)&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#6A9955'>//Print&nbsp;the&nbsp;doc</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;</span></p>
    
    <p ><span
    style='color:#569CD6'>mixin</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>Scanner</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#C586C0'>on</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>AllInOne</span><span
    style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;</span><span
    style='color:#4EC9B0'>String</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#DCDCAA'>scanX</span><span
    style='color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#6A9955'>//Scan</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#4EC9B0'>String</span><span
    style='color:#D4D4D4'>&nbsp;x&nbsp;=&nbsp;</span><span
    style='color:#CE9178'>&quot;Scanned&quot;</span><span
    style='color:#D4D4D4'>;</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#C586C0'>return</span><span
    style='color:#D4D4D4'>&nbsp;x;</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;</span></p>
    
    <p ><span
    style='color:#569CD6'>class</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>AllInOne</span><span
    style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;</span><span
    style='color:#569CD6'>void</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#DCDCAA'>showStatus</span><span
    style='color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#DCDCAA'>print</span><span
    style='color:#D4D4D4'>(</span><span
    style='color:#CE9178'>&quot;Ready&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>}</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;</span></p>
    
    <p ><span
    style='color:#569CD6'>class</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>CamScanner</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#569CD6'>extends</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>AllInOne</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#569CD6'>with</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:#4EC9B0'>Scanner</span><span
    style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p ><span
    style='color:#D4D4D4'>&nbsp;&nbsp;</span><span
    style='color:#6A9955'>//...</span></p>
    
    <p ><span
    style='color:#D4D4D4'>}</span></p>
    
    <br>
    
    </div>
    <br>
    <p>
        In the preceding code, only classes that extend or implement the AllInOne class can use the mixin Scanner. 
        Because CamScanner extends AllInOne, CamScanner can mix in Scanner.
    </p>
</ol>

</div>