<div class="contenu">
    <h1>Comments</h1>
   <p>
    When writing code, you may have some complex logic that is confusing, this is a perfect opportunity to include some comments in the code that will explain what is going on. Not only will this help you remember it later on, but if  someone else views your code, he will also be able to understand the code.
   </p>
   <ol>
       <li class="title">
        Single Line Comments:
       </li>
       <p>Syntax: </p>
       <p class="syn">// a single line comment</p><br>
       <li class="title">
            Multi Line Comments:
       </li>
       <p>Syntax: </p>
       <p class="syn">
        /* multi 
        line 
        comment */        
       </p><br>
       <li class="title">
            Doc comments:
       </li>
       <p>Using a doc comment instead of a regular comment enables dartdoc to find it and generate documentation for it</p>
       <p> Syntax:</p> 
       <p class="syn">
        
        /// Deletes the file at [path] from the file system.<br>
        void delete(String path) { <br>
          ... <br>
        }<br>
        
       </p>
   </ol>
</div>