<div class="contenu">
     <h1>
          Numbers
     </h1>
	 <ol>
     <li class="step">
          Integer
     </li>
     <p>Store whole Numbers (between -2<sup>63</sup> to 2<sup>63</sup> -1)</p>
     <p><strong>Example :</strong></p>
     <p class="res">
          int sum=235;
     </p>
     <br>
     <li class="step">
          Double
     </li>
     <p>Represents numbers with larger decimal points</p>
     <p><strong>Example :</strong></p>
     <p class="res">
          double coeff=2,5;
     </p>
     <br>
     <li class="step">
          Arithmetic Operations
     </li>
	 <br>
    
<div class= code>

     <p><span style="
    color:#569CD6">void </span><span 
     style='color:#DCDCAA'>main</span><span  style='
     color:#D4D4D4'>()&nbsp;{</span></p>
     
     <p><span 
     style='color:#D4D4D4'>&nbsp;&nbsp;</span><span  style='
     color:#569CD6'>var</span><span 
     style='color:#D4D4D4'>&nbsp;x&nbsp;=&nbsp;</span><span  style='
     color:#B5CEA8'>10</span><span 
     style='color:#D4D4D4'>;</span></p>
     
     <p><span 
     style='color:#D4D4D4'>&nbsp;&nbsp;</span><span  style='
     color:#569CD6'>var</span><span 
     style='color:#D4D4D4'>&nbsp;y&nbsp;=&nbsp;</span><span  style='
     color:#B5CEA8'>15</span><span 
     style='color:#D4D4D4'>;</span></p>
     
     <p><span 
     style='color:#D4D4D4'>&nbsp;&nbsp;</span><span  style='
     color:#DCDCAA'>print</span><span 
     style='color:#D4D4D4'>(</span><span  style='
     color:#CE9178'>&quot;x&nbsp;+&nbsp;y=&nbsp;${</span><span  style='
     color:#9CDCFE'>x&nbsp;+&nbsp;y</span><span
      style='color:#CE9178'>}&quot;</span><span  style='
     color:#D4D4D4'>);</span></p>
     
     <p><span 
     style='color:#D4D4D4'>&nbsp;&nbsp;</span><span  style='
     color:#DCDCAA'>print</span><span 
     style='color:#D4D4D4'>(</span><span  style='
     color:#CE9178'>&quot;x&nbsp;-&nbsp;y=&nbsp;${</span><span  style='
     color:#9CDCFE'>x&nbsp;-&nbsp;y</span><span
      style='color:#CE9178'>}&quot;</span><span  style='
     color:#D4D4D4'>);</span></p>
     
     <p><span 
     style='color:#D4D4D4'>&nbsp;&nbsp;</span><span  style='
     color:#DCDCAA'>print</span><span 
     style='color:#D4D4D4'>(</span><span  style='
     color:#CE9178'>&quot;-x=&nbsp;${</span><span
      style='color:#9CDCFE'>-x</span><span  style='
     color:#CE9178'>}&quot;</span><span 
     style='color:#D4D4D4'>);</span></p>
     
     <p><span 
     style='color:#D4D4D4'>&nbsp;&nbsp;</span><span  style='
     color:#DCDCAA'>print</span><span 
     style='color:#D4D4D4'>(</span><span  style='
     color:#CE9178'>&quot;x&nbsp;*&nbsp;y=&nbsp;${</span><span  style='
     color:#9CDCFE'>x&nbsp;*&nbsp;y</span><span
      style='color:#CE9178'>}&quot;</span><span  style='
     color:#D4D4D4'>);</span></p>
     
     <p><span 
     style='color:#D4D4D4'>&nbsp;&nbsp;</span><span  style='
     color:#DCDCAA'>print</span><span 
     style='color:#D4D4D4'>(</span><span  style='
     color:#CE9178'>&quot;x&nbsp;/&nbsp;y=&nbsp;${</span><span  style='
     color:#9CDCFE'>x&nbsp;/&nbsp;y</span><span
      style='color:#CE9178'>}:&quot;</span><span  style='
     color:#D4D4D4'>);</span></p>
     
     <p><span 
     style='color:#D4D4D4'>&nbsp;&nbsp;</span><span  style='
     color:#DCDCAA'>print</span><span 
     style='color:#D4D4D4'>(</span><span  style='
     color:#CE9178'>&quot;y&nbsp;~/&nbsp;x=&nbsp;${</span><span  style='
     color:#9CDCFE'>y&nbsp;~/&nbsp;x</span><span
      style='color:#CE9178'>}:&quot;</span><span  style='
     color:#D4D4D4'>);</span></p>
     
     <p><span 
     style='color:#D4D4D4'>&nbsp;&nbsp;</span><span style='
     color:#DCDCAA'>print</span><span
     style='color:#D4D4D4'>(</span><span style='
     color:#CE9178'>&quot;y&nbsp;%&nbsp;x=&nbsp;${</span><span style='
     color:#9CDCFE'>y&nbsp;%&nbsp;x</span><span
     style='color:#CE9178'>}:&quot;</span><span style='
     color:#D4D4D4'>);</span></p>
     
     <p><span style='
     color:#D4D4D4'>}</span></p>
     
<br>
     
     </div>
		<br><br><br>
<p class="res">
     x + y= 25 <br>
     x - y= -5 <br>
     -x= -10 <br>
     x * y= 150 <br>
     x / y= 0.6666666666666666: <br>
     y ~/ x= 1: <br>
     y % x= 5: <br>
</p>
	
	</ol>	 		 

</div>