<div class="contenu">
     <h1>
          Strings
     </h1>
     <p>
          String literals in Dart are surrounded by either single quotation marks, or double quotation marks. <br>
'hello' is the same as "hello".    <br> 
You can display a string literal with the print() function. <br>
     </p>
     <br>
     <ol>

     
     <li class="step">
          Strings are Arrays:
     </li>
     <p>
          Like many other popular programming languages, strings in Dart are arrays. <br>
          Square brackets can be used to access elements of the string. <br>
     </p>
     
<div class=code>

     <p ><span style='color:#569CD6'>void </span><span style=' color:#DCDCAA'>main</span> <span style='
     color:#D4D4D4'>()&nbsp;{</span></p>
     
     <p ><span style=' color:#D4D4D4'>&nbsp;&nbsp;</span> <span style='
     color:#569CD6'>var</span><span
     style='color:#D4D4D4'>&nbsp;txt&nbsp;=&nbsp;</span> <span style='
     color:#CE9178'>&quot;nice&nbsp;day&quot;</span> <span style='
     color:#D4D4D4'>;</span></p>
     
     <p ><span style=' color:#D4D4D4'>&nbsp;&nbsp;</span> <span style='
     color:#DCDCAA'>print</span><span
     style='color:#D4D4D4'>(txt[</span><span style='
     color:#B5CEA8'>6</span><span
     style='color:#D4D4D4'>]);</span></p>
     
     <p ><span style='
     color:#D4D4D4'>}</span></p>
     

     </div>
     <br>
     <p class="res">a</p>
     <br>

     <li class="step">
          String Length:
     </li>
     <p>
          To get the length of a string, use <span style="font-weight: bold;">.length</span> :
     </p>
     <div class=code>

          <p ><span style='color:#569CD6'>void </span><span style='color:#DCDCAA'>main</span><span style='
          color:#D4D4D4'>()&nbsp;{</span></p>
          
          <p  ><span style='color:#D4D4D4'>&nbsp;&nbsp;</span><span style='
          color:#569CD6'>var</span><span
          style='color:#D4D4D4'>&nbsp;txt&nbsp;=&nbsp;</span><span style='
          color:#CE9178'>&quot;nice&nbsp;day&quot;</span><span style='
          color:#D4D4D4'>;</span></p>
          
          <p  ><span style='color:#D4D4D4'>&nbsp;&nbsp;</span><span style='
          color:#DCDCAA'>print</span><span
          style='color:#D4D4D4'>(txt.length);</span></p>
          
          <p  ><span style='
          color:#D4D4D4'>}</span></p>          
          </div>
          <br>
          <p class="res">8</p>
          <br>
          <li class="step">
               String concatenation:
          </li>
          <p>
               To concatenate two strings you can use the + operator :
          </p>
          <br>
          <div class=code>

               <p><span style='color:#569CD6'>void </span><span style=' color:#DCDCAA'>main</span> <span style='
               color:#D4D4D4'>()&nbsp;{</span></p>
               
               <p ><span style='color:#D4D4D4'>&nbsp;&nbsp;</span><span style='
               color:#569CD6'>var</span><span
               style='color:#D4D4D4'>&nbsp;a&nbsp;=&nbsp;</span> <span style='
               color:#CE9178'>&quot;Hello&quot;</span><span
               style='color:#D4D4D4'>;</span></p>
               
               <p ><span style=' color:#D4D4D4'>&nbsp;&nbsp;</span> <span style='
               color:#569CD6'>var</span><span
               style='color:#D4D4D4'>&nbsp;b&nbsp;=&nbsp;</span> <span style='
               color:#CE9178'>&quot;World&quot;</span><span
               style='color:#D4D4D4'>;</span></p>
               
               <p ><span style=' color:#D4D4D4'>&nbsp;&nbsp;</span> <span style='
               color:#569CD6'>var</span><span
               style='color:#D4D4D4'>&nbsp;c&nbsp;=&nbsp;a&nbsp;+&nbsp;</span> <span style='
               color:#CE9178'>&quot;&nbsp;&quot;</span><span
               style='color:#D4D4D4'>&nbsp;+&nbsp;b&nbsp;+&nbsp;</span> <span style='
               color:#CE9178'>'!'</span><span
               style='color:#D4D4D4'>;</span></p>
               
               <p ><span style=' color:#D4D4D4'>&nbsp;&nbsp;</span> <span style='
               color:#DCDCAA'>print</span><span
               style='color:#D4D4D4'>(c);</span></p>
               
               <p ><span style='
               color:#D4D4D4'>}</span></p>
               

               </div>
               <br>
               <p class="res">
                    Hello World!
               </p>
     </ol>
	<br>
	<br>
     <h3 class="note">
          Note:
     </h3>
     <p>
          Check the Boolean Lesson to know more about "String Interpolation". 
     </p>
     <p>
          In the documentation, you can find lists of properties and methods for all these data types. <br>
In this lesson, we don’t want to focus on them because as a beginner it’s better to discover them in the exercises. <br>

     </p>
</div>