<div class="contenu">
    <h1>
        User Input
    </h1>
    <p>
        If you are using VS code, you need to follow some additional steps: <br> <br>
        1) Open a folder with VS code.  <br>
        2) Create a new file "test.dart". <br>
        3) Click Run > Open configurations.<br><br>
		<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/ui1.png?alt=media&token=15242918-6e93-433d-8cf1-9d6db2b97d4c"><br><br>
        4) A file called "launch.json" will be opened. <br><br>
		<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/ui2.png?alt=media&token=4ec4f805-e97c-422c-aefb-29d672197f03"><br><br>
        5) Add this new configurations. <br><br>
		<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/ui3.png?alt=media&token=6b03859c-49af-49fd-baeb-ed245cd91102"><br><br>
        6) Open "Run" from left side then change the configurations to "Dart with UserInput". <br><br>
		<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/ui4.png?alt=media&token=26e935fb-f460-4950-ac38-bcc723b35fba"><br><br>
        The readLineSync() method of stdin allows to capture a String from the console. <br><br>
        7) Rewrite these lines to try it and run the program with the left side button .<br><br></p>
		<div class=code>

<p ><span style=' 
color:#569CD6'>import</span><span style=' 
color:#D4D4D4'>&nbsp;</span><span style=' 
color:#CE9178'>'dart:io'</span><span style=' 
color:#D4D4D4'>;</span></p>

<p  ><span style=' 
color:#D4D4D4'>&nbsp;</span></p>

<p  ><span style=' 
color:#569CD6'>void</span><span style=' 
color:#D4D4D4'>&nbsp;</span><span style=' 
color:#DCDCAA'>main</span><span style=' 
color:#D4D4D4'>()&nbsp;{</span></p>

<p  ><span style=' 
color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style=' color:#D4D4D4'>(</span><span style=' 
color:#CE9178'>&quot;Type&nbsp;something&quot;</span><span style='color:#D4D4D4'>);</span></p>

<p  ><span style=' 
color:#D4D4D4'>&nbsp;&nbsp;</span><span style=' color:#569CD6'>var</span><span style=' color:#D4D4D4'>&nbsp;input&nbsp;=&nbsp;stdin.</span><span
style=' color:#DCDCAA'>readLineSync</span><span
style=' color:#D4D4D4'>();</span></p>

<p  ><span style=' 
color:#D4D4D4'>&nbsp;&nbsp;</span><span style=' color:#DCDCAA'>print</span><span style=' color:#D4D4D4'>(</span><span style=' 
color:#CE9178'>&quot;you&nbsp;typed&nbsp;$</span><span style=' 
 color:#9CDCFE'>input</span><span style=' 
color:#CE9178'>&quot;</span><span style='color:#D4D4D4'>);</span></p>

<p  ><span style=' 
color:#D4D4D4'>}</span></p>



</div><br><br>
<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/ui5.png?alt=media&token=775ade8f-17d6-48ba-bb5f-b076ef97ee99"><br><br>	

		<p>
			8) Type something in the terminal and click "Enter". <br><br>
	</p>
	<img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/ui6.png?alt=media&token=6038101b-6588-49d5-9495-5dc9fb053631"><br><br>
    
</div>