<div class="contenu">
     <h1>
         Enum
     </h1>
     <p>
        Enums (Enumerated types) are a special kind of class used to represent a fixed number of constant values. <br>
        Declare an enumerated type using the <span style="color: brown;">enum</span> keyword:
         </p>
        &nbsp;&nbsp;&nbsp;<p> <strong>Syntax:</strong> <br></p>
        <p class="syn">
            enum &lt;enum_name&gt;{ <br>
                &nbsp;&nbsp;&nbsp;const1,const2,...,constN <br>
            } <br>
       
        </p>
        <br>
        &nbsp;&nbsp;&nbsp;<p> <strong>Example:</strong> <br></p>

    <br>
    <div class=code>

        <p  ><span style='  
        color:#569CD6'>enum</span><span style='  
        color:#D4D4D4'>&nbsp;seasons&nbsp;{&nbsp;spring,&nbsp;summer,&nbsp;fall,&nbsp;winter&nbsp;}</span></p>
        
        <p  ><span style='  
        color:#D4D4D4'>&nbsp;</span></p>
        
        <p  ><span style='  
        color:#569CD6'>void</span><span style='  
        color:#D4D4D4'>&nbsp;</span><span style='  
        color:#DCDCAA'>main</span><span style='  
        color:#D4D4D4'>()&nbsp;{</span></p>
        
        <p  ><span style='  
        color:#D4D4D4'>&nbsp;&nbsp;</span><span style=' color:#DCDCAA'>print</span><span style='  color:#D4D4D4'>(seasons.values);</span></p>
        
        <p  ><span style='  
        color:#D4D4D4'>&nbsp;&nbsp;seasons&nbsp;favoriteSeason&nbsp;=&nbsp;seasons.summer;</span></p>
        
        <p  ><span style='  
        color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  color:#DCDCAA'>print</span><span style='  color:#D4D4D4'>(favoriteSeason);</span></p>
        
        <p  ><span style='  
        color:#D4D4D4'>}</span></p>
        
        <p  ><span style='  
        color:#D4D4D4'>&nbsp;</span></p>        
        </div>
		<br>
	<br>
	<br>
       <p class="res">
        [seasons.spring, seasons.summer, seasons.fall, seasons.winter] <br>
        seasons.summer <br>
       </p>
<br>
	<br>
</div>