<div class="contenu">
    <h1>
        Lists
    </h1>
	<ol>
    <li class="step">
        Definition
    </li>

    <p>
        Dart List is similar to an array, which is an ordred group of objects. The list is used to hold multiple values in single variable.
    </p><br>
    <li class="step">
        Syntax
    </li>
    <br>
    <p class=syn>
        <span style="color: cyan;">var</span> list_name = [value1,value2,value3,...,valueN];
    </p><br>
    <li class="step">
        Example
    </li><br>
    <img src="https://firebasestorage.googleapis.com/v0/b/flutter-pro-51469.appspot.com/o/shema%20list.png?alt=media&token=e5d18e99-4334-4913-88e4-adb4c77bb373" alt="list schema">
    <br>
    <br>
		<li class="step">Types</li>
    <p>
        The Dart list can be categorized into two types :Fixed Length List & Growable List.
    </p><br>
    <br>
    <h1 class="step" style="color: red;font-family: cursive;">
        I) Fixed Length List
    </h1><br>
    <p>
        The fixed length lists have fixed length. We cannot change the size at runtime. 
    </p>
    <br>
    <ol>
        <li class="step" style="color:green;">
            Syntax
        </li><br>
        <p class=syn>
            <span style="color: cyan;">var</span> list_name= <span style="color: yellow;">new</span> <span style="color: rgb(120, 216, 120);">List</span>(size);&nbsp;&nbsp;&nbsp;&nbsp;// declaring <br>
            list_name[index]=value;&nbsp;&nbsp;&nbsp;&nbsp;//Initializing <br>
        </p>
        <br>
        <li class="step" style="color:green;">
            Example
        </li><br>
        
<div class=code>

<p  ><span style=' 
color:#569CD6'>void</span><span style=' 
color:#D4D4D4'>&nbsp;</span><span style='  
color:#DCDCAA'>main</span><span style='  
color:#D4D4D4'>()&nbsp;{</span></p>

<p  ><span style='  
color:#D4D4D4'>&nbsp;&nbsp;</span><span style=' color:#569CD6'>var</span>
<span style='  color:#D4D4D4'>&nbsp;lst&nbsp;=&nbsp;</span>
<span style='  color:#C586C0'>new</span><span style='  color:#D4D4D4'>&nbsp;</span><span style='  color:#4EC9B0'>List</span>
<span style='  color:#D4D4D4'>(</span><span style=' 
 color:#B5CEA8'>4</span><span style=' 
 color:#D4D4D4'>);</span></p>

<p  ><span style='  
color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#D4D4D4'>lst[</span><span  style='  color:#B5CEA8'>0</span><span 
style='  color:#D4D4D4'>]&nbsp;=&nbsp;</span><span
 style='  color:#B5CEA8'>3</span><span
 style='  color:#D4D4D4'>;</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;lst[</span><span  style='  color:#B5CEA8'>1</span><span 
style='  color:#D4D4D4'>]&nbsp;=&nbsp;</span><span
 style='  color:#B5CEA8'>6</span><span
 style='  color:#D4D4D4'>;</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;lst[</span><span  style='  color:#B5CEA8'>2</span><span 
style='  color:#D4D4D4'>]&nbsp;=&nbsp;</span><span
 style='  color:#B5CEA8'>9</span><span
 style='  color:#D4D4D4'>;</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;lst[</span><span  style='  color:#B5CEA8'>3</span><span 
style='  color:#D4D4D4'>]&nbsp;=&nbsp;</span><span
 style='  color:#B5CEA8'>12</span><span
 style='  color:#D4D4D4'>;</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#DCDCAA'>print</span><span  style='  color:#D4D4D4'>(lst[</span><span 
style='  color:#B5CEA8'>2</span><span
 style='  color:#D4D4D4'>]);</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span style=' 
 color:#DCDCAA'>print</span><span style=' 
 color:#D4D4D4'>(lst);</span></p>

<p  ><span style='  
color:#D4D4D4'>}</span></p>

<p  ><span style='  
color:#D4D4D4'>&nbsp;</span></p>

</div>
<br>
		<div class="res">
			9 <br>
[3, 6, 9, 12]

		</div>
<br>
    <h1 class="step" style="color: red;font-family: cursive;">
        II) Growable List
    </h1><br>
    <p>
        The list is declared without giving fixed size. The size of the Growable list can be modified at the runtime.
    </p>
    <br>
    <ol>
        <li class="step" style="color:green;">
            Syntax
        </li><br>
        
<div class=syn>

    <p><span
    style='color:cyan'>var</span><span
    style='color:#D4D4D4'>&nbsp;list_name=&nbsp;</span><span
    style='color:yellow'>new</span><span
    style='color:#D4D4D4'>&nbsp;</span><span
    style='color:greenyellow'>List</span><span
    style='color:#D4D4D4'>();&nbsp;</span><span
    style='color:whitesmoke'>//&nbsp;declaring&nbsp;an&nbsp;empty&nbsp;list&nbsp;(size=0)</span></p>
    
    <p><span
    style='color:#6A9955'>//Initializing</span></p>
    
    <p><span
    style='color:#569CD6'>var</span><span
    style='color:#D4D4D4'>&nbsp;list_name=[value1,&nbsp;value2,..,valueN];</span></p>
    
    <p><span
    style='color:#D4D4D4'>list_name[index]=value;</span></p>
    

    </div>
        <br>
        <li class="step" style="color:green;">
            Example
        </li><br>
        <div class=code>

            <p ><span style='  
            
            color:#569CD6'>void</span><span style='  
            
            color:#D4D4D4'>&nbsp;</span><span class=GramE><span style=' 
             color:#DCDCAA'>main</span><span style=' 
             color:#D4D4D4'>( </span><span style=' 
             color:#D4D4D4'>)&nbsp;{<o:p></o:p></span></p>
            
            <p ><span style='  
            
            color:#D4D4D4'>&nbsp;&nbsp;</span><span style=' 
            color:#569CD6'>var</span><span style='  
            
            color:#D4D4D4'>&nbsp;<span class=SpellE>lst</span>&nbsp;=&nbsp;[</span><span
            style='  
            color:#B5CEA8'>5</span><span
            style='  
            color:#D4D4D4'>,&nbsp;</span><span
            style='  
            color:#B5CEA8'>10</span><span
            style='  
            color:#D4D4D4'>,&nbsp;</span><span
            style='  
            color:#B5CEA8'>15</span><span
            style='  
            color:#D4D4D4'>,&nbsp;</span><span
            style='  
            color:#B5CEA8'>20</span><span
            style='  
            color:#D4D4D4'>];<o:p></o:p></span></p>
            
            <p ><span style='  
            
            color:#D4D4D4'>&nbsp;&nbsp;</span><span class=GramE><span style='font-size:
            10.5pt; 
            color:#DCDCAA'>print</span><span
            style='  
            color:#D4D4D4'>( </span><span
            style='  
            color:#CE9178'>&quot;the&nbsp;list&nbsp;before&nbsp;:&nbsp;$</span><span
            class=SpellE><span style='  color:#9CDCFE'>lst </span><span
            style='  
            color:#CE9178'>&quot;</span><span
            style='  
            color:#D4D4D4'>);<o:p></o:p></span></p>
            
            <p ><span style='  
            
            color:#D4D4D4'>&nbsp;&nbsp;<span class=SpellE><span class=GramE>lst.<span
            style='color:#DCDCAA'>add  </span><span class=GramE>( </span><span
            style='  
            color:#B5CEA8'>25</span><span
            style='  
            color:#D4D4D4'>);<o:p></o:p></span></p>
            
            <p ><span style='  
            
            color:#D4D4D4'>&nbsp;&nbsp;</span><span class=GramE><span style='font-size:
            10.5pt; 
            color:#DCDCAA'>print</span><span
            style='  
            color:#D4D4D4'>( </span><span
            style='  
            color:#CE9178'>&quot;the&nbsp;list&nbsp;after&nbsp;:&nbsp;$</span><span
            class=SpellE><span style='  color:#9CDCFE'>lst </span><span
            style='  
            color:#CE9178'>&quot;</span><span
            style='  
            color:#D4D4D4'>);<o:p></o:p></span></p>
            
            <p ><span style='  
            
            color:#D4D4D4'>}<o:p></o:p></span></p>
            <br>
            </div>
            <br>
            <br>
            <div class="res">
                the list before : [5, 10, 15, 20] <br>
the list after : [5, 10, 15, 20, 25]

            </div>
            </ol>

    </ol>
<br>
<br>
<li class="step">
    Inserting Elements
</li>
<p>
    <span class="note">add(value)</span> <br>
    Adds value to the end of this list, extending the length by one. <br>
    <span class="note">
        addAll(values)
    </span><br>
    Appends multiple elements to the end of this list. <br>
    <span class="note">
        insert(index,element)
    </span><br>
    Inserts the element at poition index in this list. <br>
    <span class="note">
        insertAll(index,values)
    </span> <br>
    Inserts multiple elements at position index in this list.
</p>
		
<div class=code>

<p  ><span style='  

color:#569CD6'>void</span><span style='  

color:#D4D4D4'>&nbsp;</span><span style='  

color:#DCDCAA'>main</span><span style='  

color:#D4D4D4'>()&nbsp;{<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#569CD6'>var</span><span style='  

color:#D4D4D4'>&nbsp;list&nbsp;=&nbsp;[</span><span style=' 
 color:#B5CEA8'>1</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>4</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>7</span><span style=' 
 color:#D4D4D4'>];<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;list.</span><span style=' 
 color:#DCDCAA'>add</span><span style=' 
 color:#D4D4D4'>(</span><span style=' 
 color:#B5CEA8'>9</span><span style=' 
 color:#D4D4D4'>);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;list.</span><span style=' 
 color:#DCDCAA'>addAll</span><span style=' 
 color:#D4D4D4'>([</span><span style=' 
 color:#B5CEA8'>13</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>17</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>19</span><span style=' 
 color:#D4D4D4'>]);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;list.</span><span style=' 
 color:#DCDCAA'>insert</span><span style=' 
 color:#D4D4D4'>(</span><span style=' 
 color:#B5CEA8'>2</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>5</span><span style=' 
 color:#D4D4D4'>);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;list.</span><span style=' 
 color:#DCDCAA'>insertAll</span><span style=' 
 color:#D4D4D4'>(</span><span style=' 
 color:#B5CEA8'>6</span><span style=' 
 color:#D4D4D4'>,&nbsp;[</span><span style=' 
 color:#B5CEA8'>14</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>15</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>16</span><span style=' 
 color:#D4D4D4'>]);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>}<o:p></o:p></span></p>


</div>
<br><br>
	<p class=res>
		[1, 4, 7]<br>
[1, 4, 7, 9]<br>
[1, 4, 7, 9, 13, 17, 19]<br>
[1, 4, 5, 7, 9, 13, 17, 19]<br>
[1, 4, 5, 7, 9, 13, 14, 15, 16, 17, 19]<br>

	</p>
		<br>
<br>
<li class="step">
    Updating Elements
</li>
<p>
<span class="note">
    list[index]=newValue
</span><br>
Change the value by accessing to the element with its <br>

<span class="note">
    replaceRange(start,end,values)
</span><br>
Removes the objects in the range start inclusive to end exclusive and inserts the contents of replacement in its place. <br>
</p>
		
		<div class=code>

<p  ><span style='  

color:#569CD6'>void</span><span style='  

color:#D4D4D4'>&nbsp;</span><span class=GramE><span style=' 
 color:#DCDCAA'>main</span><span style=' 
 color:#D4D4D4'>( </span><span style=' 
 color:#D4D4D4'>)&nbsp;{<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#569CD6'>var</span><span style='  

color:#D4D4D4'>&nbsp;list&nbsp;=&nbsp;[</span><span style=' 
 color:#B5CEA8'>1</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>4</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>5</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>7</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>9</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>13</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>17</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>19</span><span style=' 
 color:#D4D4D4'>];<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;<span class=GramE>list[ </span><span
style='  
color:#B5CEA8'>1</span><span
style='  
color:#D4D4D4'>]&nbsp;=&nbsp;</span><span
style='  
color:#B5CEA8'>2</span><span
style='  
color:#D4D4D4'>;<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;<span class=SpellE><span class=GramE>list.<span
style='color:#DCDCAA'>replaceRange  </span>(</span><span
style='  
color:#B5CEA8'>2</span><span
style='  
color:#D4D4D4'>,&nbsp;</span><span
style='  
color:#B5CEA8'>8</span><span
style='  
color:#D4D4D4'>,&nbsp;[</span><span
style='  
color:#B5CEA8'>3</span><span
style='  
color:#D4D4D4'>,&nbsp;</span><span
style='  
color:#B5CEA8'>4</span><span
style='  
color:#D4D4D4'>,&nbsp;</span><span
style='  
color:#B5CEA8'>5</span><span
style='  
color:#D4D4D4'>,&nbsp;</span><span
style='  
color:#B5CEA8'>6</span><span
style='  
color:#D4D4D4'>]);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>}<o:p></o:p></span></p>

</div>
		<br>
		<br>
		<div class=res>
			[1, 4, 5, 7, 9, 13, 17, 19] <br>
[1, 2, 5, 7, 9, 13, 17, 19] <br>
[1, 2, 3, 4, 5, 6] <br>

			
		</div>
		<br>
<br>
<li class="step">
    Removing Elements
</li>
<p>
    <span class="note">remove(value)</span><br>
    Removes the first occurrence of value from this list. <br>
    <span class="note">
        removeAt(index)
    </span> <br>
    Removes the object at position index from this list. <br>
    <span class="note">
        removeRange(start,end)
    </span><br>
    Removes the objects in the range start inclusive to end exclusive. <br>
    <span class="note">
        clear()
    </span> <br>
    Removes all objects from this list; the length of the list becomes zero. <br>
    
</p>
		<br>
		<br>
		<div class=code>

<p  ><span style='  

color:#569CD6'>void</span><span style='  

color:#D4D4D4'>&nbsp;</span><span class=GramE><span style=' 
 color:#DCDCAA'>main</span><span style=' 
 color:#D4D4D4'>( </span><span style=' 
 color:#D4D4D4'>)&nbsp;{<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#569CD6'>var</span><span style='  

color:#D4D4D4'>&nbsp;list&nbsp;=&nbsp;[</span><span style=' 
 color:#B5CEA8'>1</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>2</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>3</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>4</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>5</span><span style=' 
 color:#D4D4D4'>,&nbsp;</span><span style=' 
 color:#B5CEA8'>6</span><span style=' 
 color:#D4D4D4'>];<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;<span class=SpellE><span class=GramE>list.<span
style='color:#DCDCAA'>remove  </span>(</span><span
style='  
color:#B5CEA8'>4</span><span
style='  
color:#D4D4D4'>);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;<span class=SpellE><span class=GramE>list.<span
style='color:#DCDCAA'>remove  </span>(</span><span
style='  
color:#B5CEA8'>9</span><span
style='  
color:#D4D4D4'>);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;<span class=SpellE><span class=GramE>list.<span
style='color:#DCDCAA'>removeAt  </span>(</span><span
style='  
color:#B5CEA8'>1</span><span
style='  
color:#D4D4D4'>);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;<span class=SpellE><span class=GramE>list.<span
style='color:#DCDCAA'>removeRange  </span>(</span><span
style='  
color:#B5CEA8'>2</span><span
style='  
color:#D4D4D4'>,&nbsp;</span><span
style='  
color:#B5CEA8'>4</span><span
style='  
color:#D4D4D4'>);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;<span class=SpellE><span class=GramE>list.<span
style='color:#DCDCAA'>clear  </span>();<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>&nbsp;&nbsp;</span><span style='  
color:#DCDCAA'>print</span><span style='  

color:#D4D4D4'>(list);<o:p></o:p></span></p>

<p  ><span style='  

color:#D4D4D4'>}<o:p></o:p></span></p>

</div>
		<br>
		<br>
		<div class=res>
			
[1, 2, 3, 4, 5, 6] <br>
[1, 2, 3, 5, 6] <br>
[1, 2, 3, 5, 6] <br>
[1, 3, 5, 6] <br>
[1, 3] <br>
[] <br>
			
		</div>
		
		<br>
<br>
<li class="step">
    Other Methods
</li>
<p>
    <span class="note">contains(element)</span><br>
    Returns true if the collection contains an element equal to element. <br>
    <span class="note">
      indexOf(element)  
    </span><br>
    Returns the first index of element in this list. <br>
    <span class="note">
        shuffle()
    </span> <br>
    Shuffles the elements of this list randomly. <br>
    <span class="note">
        sublist(start,[end])
    </span><br>
    Returns a new list containing the elements between start and end.<br>
    sublist(start): Returns a new list containing the elements from start to the end of the list.<br>
</p>
		
		<br>
		<br>
		<div class=code>

<p  ><span  style='  color:#569CD6'>void</span><span  style=' 
 color:#D4D4D4'>&nbsp;</span><span 
style='  color:#DCDCAA'>main</span><span
 style='  color:#D4D4D4'>()&nbsp;{</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#569CD6'>var</span><span  style='  color:#D4D4D4'>&nbsp;list&nbsp;=&nbsp;[</span><span
 style='  color:#B5CEA8'>1</span><span
 style='  color:#D4D4D4'>,&nbsp;</span><span
 style='  color:#B5CEA8'>3</span><span
 style='  color:#D4D4D4'>,&nbsp;</span><span
 style='  color:#B5CEA8'>5</span><span
 style='  color:#D4D4D4'>,&nbsp;</span><span
 style='  color:#B5CEA8'>7</span><span
 style='  color:#D4D4D4'>,&nbsp;</span><span
 style='  color:#B5CEA8'>9</span><span
 style='  color:#D4D4D4'>];</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#DCDCAA'>print</span><span  style='  color:#D4D4D4'>(list);</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#DCDCAA'>print</span><span  style='  color:#D4D4D4'>(list.</span><span 
style='  color:#DCDCAA'>contains</span><span
 style='  color:#D4D4D4'>(</span><span
 style='  color:#B5CEA8'>3</span><span
 style='  color:#D4D4D4'>));</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#DCDCAA'>print</span><span  style='  color:#D4D4D4'>(list.</span><span 
style='  color:#DCDCAA'>contains</span><span
 style='  color:#D4D4D4'>(</span><span
 style='  color:#B5CEA8'>8</span><span
 style='  color:#D4D4D4'>));</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#DCDCAA'>print</span><span  style='  color:#D4D4D4'>(list.</span><span 
style='  color:#DCDCAA'>indexOf</span><span
 style='  color:#D4D4D4'>(</span><span
 style='  color:#B5CEA8'>5</span><span
 style='  color:#D4D4D4'>));</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#DCDCAA'>print</span><span  style='  color:#D4D4D4'>(list.</span><span 
style='  color:#DCDCAA'>indexOf</span><span
 style='  color:#D4D4D4'>(</span><span
 style='  color:#B5CEA8'>15</span><span
 style='  color:#D4D4D4'>));</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;list.</span><span  style='  color:#DCDCAA'>shuffle</span><span 
style='  color:#D4D4D4'>();</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#DCDCAA'>print</span><span  style='  color:#D4D4D4'>(list);</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;list.</span><span  style='  color:#DCDCAA'>shuffle</span><span 
style='  color:#D4D4D4'>();</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#DCDCAA'>print</span><span  style='  color:#D4D4D4'>(list);</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#569CD6'>var</span><span  style='  color:#D4D4D4'>&nbsp;list2&nbsp;=&nbsp;list.</span><span
 style='  color:#DCDCAA'>sublist</span><span
 style='  color:#D4D4D4'>(</span><span
 style='  color:#B5CEA8'>2</span><span
 style='  color:#D4D4D4'>,&nbsp;</span><span
 style='  color:#B5CEA8'>4</span><span
 style='  color:#D4D4D4'>);</span></p>

<p  ><span  style='  color:#D4D4D4'>&nbsp;&nbsp;</span><span  style=' 
 color:#DCDCAA'>print</span><span  style='  color:#D4D4D4'>(list2);</span></p>

<p  ><span style='  
color:#D4D4D4'>}</span></p>


</div> 
		<br>
		 
		
		<p class=res>
			[1, 3, 5, 7, 9] <br>
true<br>
false<br>
2<br>
-1<br>
[7, 5, 9, 3, 1]<br>
[9, 1, 7, 3, 5]<br>
[7, 3]<br>
			
		</p>
		
		<p>
			The next parts are not important to know to start using lists. You may need one of them later.
		</p>
		<br>
	<li class="step">
     Properties
</li>
		<br>
		
<table class=tableau>
    <tr>
        <th>Property</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>
            first
        </td>
        <td>
            Returns the first element.
        </td>
    </tr>
    <tr>
        <td>
            hashCode
        </td>
        <td>
            The hash code for this object.
        </td>
    </tr>
    <tr>
        <td>
            isEmpty
        </td>
        <td>
            Returns true if there are no elements in this collection.
        </td>
    </tr>
    <tr>
        <td>
            isNotEmpty
        </td>
        <td>
            Returns true if there is at least one element in this collection.
        </td>
    </tr>
    <tr>
        <td>
            iterator
        </td>
        <td>
            Returns a new Iterator that allows iterating the elements of this Iterable.
        </td>
    </tr>
    <tr>
        <td>
            last
        </td>
        <td>
            Returns the last element.
        </td>
    </tr>
    <tr>
        <td>
            length
        </td>
        <td>
            The number of objects in this list.
        </td>
    </tr>
    <tr>
        <td>
            reversed
        </td>
        <td>
            Returns an Iterable of the objects in this list in reverse order.
        </td>
    </tr>
    <tr>
        <td>
            runtimeType
        </td>
        <td>
            A representation of the runtime type of the object.

        </td>
    </tr>
    <tr>
        <td>
            single
        </td>
        <td>
            Checks that this iterable has only one element, and returns that element.
        </td>
    </tr>
</table>
		<br>
		<br>
		<li class="step">
    Methods
</li>
<br>
<table class=tableau>
    <tr>
        <th>Method</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>
            add(value)
        </td>
        <td>
            Adds value to the end of this list, extending the length by one.
        </td>
    </tr>
    <tr>
        <td>
            addAll(values)
        </td>
        <td>
            Appends all objects of iterable to the end of this list. 
        </td>
    </tr>
    <tr>
        <td>
            any
        </td>
        <td>
            Checks whether any element of this iterable satisfies test.
        </td>
    </tr>
    <tr>
        <td>
            asMap()
        </td>
        <td>
            Returns an unmodifiable Map view of this.
        </td>
    </tr>
    <tr>
        <td>
            cast<R>() 
        </td>
        <td>
            Returns a view of this list as a list of R instances.
        </td>
    </tr>
    <tr>
        <td>
            clear()
        </td>
        <td>
            Removes all objects from this list; the length of the list becomes zero.
        </td>
    </tr>
    <tr>
        <td>
            contains(element)
        </td>
        <td>
            Returns true if the collection contains an element equal to element.
        </td>
    </tr>
    <tr>
        <td>
            elementAt(index) 
        </td>
        <td>
            Returns the indexth element.
        </td>
    </tr>
    <tr>
        <td>
            every(bool test(E element))
        </td>
        <td>
            Checks whether every element of this iterable satisfies test.
        </td>
    </tr>
    <tr>
        <td>
            expand<T>(Iterable<T> f(E element)) 
        </td>
        <td>
            Expands each element of this Iterable into zero or more elements.
        </td>
    </tr>
    <tr>
        <td>
            fillRange(int start, int end, [E? fillValue])
        </td>
        <td>
            Sets the objects in the range start inclusive to end exclusive to the given fillValue.
        </td>
    </tr>
    <tr>
        <td>
            firstWhere(bool test(E element), {E orElse()}) 
        </td>
        <td>
            Returns the first element that satisfies the given predicate test.
        </td>
    </tr>
    <tr>
        <td>
            fold<T>(T initialValue, T combine(T previousValue, E element)) 
        </td>
        <td>
            Reduces a collection to a single value by iteratively combining each element of the collection with an existing value 
        </td>
    </tr>
    <tr>
        <td>
            followedBy(Iterable<E> other) 
        </td>
        <td>
            Returns the lazy concatentation of this iterable and other.
        </td>
    </tr>
    <tr>
        <td>
            forEach(void f(E element)) 
        </td>
        <td>
            Applies the function f to each element of this collection in iteration order.
        </td>
    </tr>
    <tr>
        <td>
            getRange(int start, int end) 
        </td>
        <td>
            Returns an Iterable that iterates over the objects in the range start inclusive to end exclusive.
        </td>
    </tr>
    <tr>
        <td>
            indexOf(E element, [int start = 0])
        </td>
        <td>
            Returns the first index of element in this list.
        </td>
    </tr>
    <tr>
        <td>
            indexWhere(bool test(E element), [int start = 0]) 
        </td>
        <td>
            Returns the first index in the list that satisfies the provided test. 
        </td>
    </tr>
    <tr>
        <td>
            insert(int index, E element)
        </td>
        <td>
            Inserts the object at position index in this list.
        </td>
    </tr>
    <tr>
        <td>
            insertAll(int index, Iterable<E> iterable) 
        </td>
        <td>
            Inserts all objects of iterable at position index in this list.
        </td>
    </tr>
    <tr>
        <td>
            join([String separator = ""])
        </td>
        <td>
            Converts each element to a String and concatenates the strings.
        </td>
    </tr>
    <tr>
        <td>
            lastIndexOf(E element, [int? start]) 
        </td>
        <td>
            Returns the last index of element in this list.
        </td>
    </tr>

    <tr>
        <td>
            lastIndexWhere(bool test(E element), [int? start])
        </td>
        <td>
            Returns the last index in the list that satisfies the provided test.
        </td>
    </tr>
    <tr>
        <td>
            lastWhere(bool test(E element), {E orElse()})
        </td>
        <td>
            Returns the last element that satisfies the given predicate test.
        </td>
    </tr>

    <tr>
        <td>
            map<T>(T f(E e)) 
        </td>
        <td>
            Returns a new lazy Iterable with elements that are created by calling f on each element of this Iterable in iteration order.
        </td>
    </tr>
    <tr>
        <td>
            noSuchMethod(Invocation invocation)
        </td>
        <td>
            Invoked when a non-existent method or property is accessed.
        </td>
    </tr>
    <tr>
        <td>
            reduce(E combine(E value, E element)) 
        </td>
        <td>
            Reduces a collection to a single value by iteratively combining elements of the collection using the provided function.
        </td>
    </tr>
    <tr>
        <td>
            remove(Object? value)
        </td>
        <td>
            Removes the first occurrence of value from this list. 
        </td>
    </tr>
    <tr>
        <td>
            removeAt(int index) 
        </td>
        <td>
            Removes the object at position index from this list. 
        </td>
    </tr>
    <tr>
        <td>
            removeLast()
        </td>
        <td>
            Pops and returns the last object in this list. 
        </td>
    </tr>
    <tr>
        <td>
            removeRange(int start, int end) 
        </td>
        <td>
            Removes the objects in the range start inclusive to end exclusive. 
        </td>
    </tr>
    <tr>
        <td>
            removeWhere(bool test(E element)) 
        </td>
        <td>
            Removes all objects from this list that satisfy test. 
        </td>
    </tr>
    <tr>
        <td>
            replaceRange(int start, int end, Iterable<E> replacement) 
        </td>
        <td>
            Removes the objects in the range start inclusive to end exclusive and inserts the contents of replacement in its place.
        </td>
    </tr>
    <tr>
        <td>
            retainWhere(bool test(E element)) 
        </td>
        <td>
            Removes all objects from this list that fail to satisfy test.
        </td>
    </tr>
    <tr>
        <td>
            setAll(int index, Iterable<E> iterable)
        </td>
        <td>
            Overwrites objects of this with the objects of iterable, starting at position index in this list.
        </td>
    </tr>
    <tr>
        <td>
            setRange(int start, int end, Iterable<E> iterable, [int skipCount = 0])
        </td>
        <td>
            Copies the objects of iterable, skipping skipCount objects first, into the range start, inclusive, to end, exclusive, of the list.
        </td>
    </tr>
    <tr>
        <td>
            shuffle([Random? random])
        </td>
        <td>
            Shuffles the elements of this list randomly.
        </td>
    </tr>
    <tr>
        <td>
            singleWhere(bool test(E element), {E orElse()})
        </td>
        <td>
            Returns the single element that satisfies test.
        </td>
    </tr>
    <tr>
        <td>
            skip(int count) 
        </td>
        <td>
            Returns an Iterable that provides all but the first count elements.
        </td>
    </tr>
    <tr>
        <td>
            skipWhile(bool test(E value)) 
        </td>
        <td>
            Returns an Iterable that skips leading elements while test is satisfied.
        </td>
    </tr>
    <tr>
        <td>
            sort([int compare(E a, E b)]) 
        </td>
        <td>
            Sorts this list according to the order specified by the compare function. 
        </td>
    </tr>
    <tr>
        <td>
            sublist(int start, [int? end]) 
        </td>
        <td>
            Returns a new list containing the elements between start and end.
        </td>
    </tr>
    <tr>
        <td>
            take(int count)
        </td>
        <td>
            Returns a lazy iterable of the count first elements of this iterable. 
        </td>
    </tr>
    <tr>
        <td>
            takeWhile(bool test(E value)) 
        </td>
        <td>
            Returns a lazy iterable of the leading elements satisfying test.
        </td>
    </tr>
    <tr>
        <td>
            toList({bool growable: true})
        </td>
        <td>
            Creates a List containing the elements of this Iterable.
        </td>
    </tr>
    <tr>
        <td>
            toSet() 
        </td>
        <td>
            Creates a Set containing the same elements as this iterable.
        </td>
    </tr>
    <tr>
        <td>
            toString()
        </td>
        <td>
            Returns a string representation of this object.
        </td>
    </tr>
    <tr>
        <td>
            where(bool test(E element))
        </td>
        <td>
            Returns a new lazy Iterable with all elements that satisfy the predicate test. 
        </td>
    </tr>
    <tr>
        <td>
            whereType<T>()
        </td>
        <td>
            Returns a new lazy Iterable with all elements that have type T.
        </td>
    </tr>
   

</table>    

	</ol>
</div>