<div class="contenu">
    <h1>
        Assert
    </h1>
    <ol>
        <li class="step">
            Definition
        </li>
        <p>
            During development, use an assert statement to disrupt normal execution if a boolean condition is false.
        </p>
        
        <br>
        <li class="step">
            Syntax
        </li>
        <br>
        <p class=syn>
            <span style="color: yellow;">assert</span>(&lt;expppression&gt;) <br></p>
            <span style="font-weight: 700;">OR</span> <br>
            <p class=syn><span style="color: yellow;">assert</span>(&lt;expppression&gt;,&lt;Optional Message&gt;)
        </p> <br>
        <li class="step">
            Example
        </li>
        <br>
        <div class=code>

            <p><span style='
            color:#569CD6'>void</span><span style='
            color:#D4D4D4'>&nbsp;</span><span style='
            color:#DCDCAA'>main</span><span style='
            color:#D4D4D4'>()&nbsp;{<o:p></o:p></span></p>
            
            <p><span style='
            color:#D4D4D4'>&nbsp;&nbsp;</span><span style='
            color:#569CD6'>var</span><span style='
            color:#D4D4D4'>&nbsp;nb&nbsp;=&nbsp;</span><span style='
            color:#B5CEA8'>6</span><span style='
            color:#D4D4D4'>;<o:p></o:p></span></p>
            
            <p><span style='
            color:#D4D4D4'>&nbsp;&nbsp;</span><span style='
            color:#C586C0'>assert</span><span style='
            color:#D4D4D4'>(nb&nbsp;&gt;&nbsp;</span><span style='
            color:#B5CEA8'>10</span><span style='
            color:#D4D4D4'>,&nbsp;</span><span style='
            color:#CE9178'>&quot;You&nbsp;enter&nbsp;a&nbsp;number&nbsp;less&nbsp;than&nbsp;10&quot;</span><span
            style='color:#D4D4D4'>);<o:p></o:p></span></p>
            
            <p><span style='
            color:#D4D4D4'>&nbsp;&nbsp;</span><span style='
            color:#DCDCAA'>print</span><span style='
            color:#D4D4D4'>(</span><span style='
            color:#CE9178'>&quot;Good&nbsp;Answer&quot;</span><span style='
            color:#D4D4D4'>);<o:p></o:p></span></p>
            
            <p><span style='
            color:#D4D4D4'>}<o:p></o:p></span></p>
            
            <br>
            
            </div>
            <br>
            <div class="res" style="background-color: crimson;">
                Unhandled exception: <br>
'file:///C:/Users/marzo/Desktop/test/test.dart': Failed assertion: line 5 pos 10: 'nb > 10': You enter a number less than 10 <br>

            </div>
            <br>
            
<div class=code>

    <p><span style='
    color:#569CD6'>void</span><span style='
    color:#D4D4D4'>&nbsp;</span><span style='
    color:#DCDCAA'>main</span><span style='
    color:#D4D4D4'>(</span></span><span style='
    color:#D4D4D4'>)&nbsp;{<o:p></o:p></span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='
    color:#569CD6'>var</span><span style='
    color:#D4D4D4'>&nbsp;<span class=SpellE>nb</span>&nbsp;=&nbsp;</span><span
    style='
    color:#B5CEA8'>14</span><span
    style='
    color:#D4D4D4'>;<o:p></o:p></span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='
    color:#C586C0'>assert</span><span
    style='
    color:#D4D4D4'>(</span></span><span
    class=SpellE><span style='
    color:#D4D4D4'>nb</span></span><span
    style='
    color:#D4D4D4'>&nbsp;&gt;&nbsp;</span><span
    style='
    color:#B5CEA8'>10</span><span
    style='
    color:#D4D4D4'>,&nbsp;</span><span
    style='
    color:#CE9178'>&quot;You&nbsp;enter&nbsp;a&nbsp;number&nbsp;less&nbsp;than&nbsp;10&quot;</span><span
    style='
    color:#D4D4D4'>);<o:p></o:p></span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='
    color:#DCDCAA'>print</span><span
    style='
    color:#D4D4D4'>(</span></span><span
    style='
    color:#CE9178'>&quot;Good&nbsp;Answer&quot;</span><span
    style='
    color:#D4D4D4'>);<o:p></o:p></span></p>
    
    <p><span style='
    color:#D4D4D4'>}<o:p></o:p></span></p>
    
<br>
    
    </div>
    <br>
    <div class="res">
        Good Answer <br>
        
    </div>
    </ol>

</div>