<div class="contenu">
    <h1>
        If .. Else
    </h1>
    <ol>
        <li class="step">
            If Statement 
        </li>
        <br>
<div class=syn>

    <p><span style='
    color:yellow'>if</span><span style='
    color:#D4D4D4'>&nbsp;(<span class=SpellE>test_condition</span>)&nbsp;{<o:p></o:p></span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>statement</span><span style='color:#D4D4D4'>(s);<o:p></o:p></span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}<o:p></o:p></span></p>
    </div> 
    <br>
        <p>
            Decision making is required when we want to execute a code only if a certain condition is satisfied.
            Here, the program evaluates the <span class="word" style="color:blue;">test expression</span> and will execute <span  class="word" style="color:blue;">statement(s)</span>  only if the test expression is <span class="word" style="color:green;">True</span>.
            If the test expression is <span class="word" style="color:red;">False</span>, the statement(s) is not executed.
        </p><br>
        <h3 class=note>
            Example
        </h3>
     
<div class=code>

    <p><span style='
    color:#569CD6'>void</span><span style='
    color:#D4D4D4'>&nbsp;</span><span style='
    color:#DCDCAA'>main</span><span style='
    color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#4EC9B0'>int</span>
    <span style='color:#D4D4D4'>&nbsp;x&nbsp;=&nbsp;</span><span style='color:#B5CEA8'>5</span><span style='color:#D4D4D4'>;</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#C586C0'>if</span>
    <span style='color:#D4D4D4'>&nbsp;(x&nbsp;%&nbsp;</span><span style='color:#B5CEA8'>2</span><span style='color:#D4D4D4'>&nbsp;==&nbsp;</span><span
    style='color:#B5CEA8'>1</span><span
    style='color:#D4D4D4'>)&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;odd&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p><span style='
    color:#D4D4D4'>}</span></p>
    <br>

    </div> 

		<br>
    <div class="res">
        odd <br>
    </div> 
		<br>
		<li class="step">
    if...else Statement
</li>
<br>
<div class=syn>
<p><span style='color:yellow'>if</span><span >&nbsp;(<span style='color:#78ff09'>test_condition</span>)&nbsp;{</span></p>
    
    <p ><span >&nbsp;&nbsp;&nbsp;&nbsp;body&nbsp;of&nbsp;</span><span
    >if</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}</span><span style='color:yellow'>else</span><span style='color:#D4D4D4'>{</span></p>
    
    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;body&nbsp;of&nbsp;</span><span'>else</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}</span></p>

    </div>
    <br>
<p>
    The if..else statement evaluates <span class="word" style="color: blue;">test expression</span>  and will execute <span class="word" style="color: blueviolet;">the body of if</span> only when the test condition is <span class="word" style="color:green;">True</span>.

    If the condition is <span class="false" style="color:red;">False</span>, <span class="word" style="color: blueviolet;">the body of else</span> is executed.
</p>

<h3 class=note >
    Example
</h3> <br>
<div class=code>

    <p><span  style='color:#569CD6'>void</span><span  style='color:#D4D4D4'>&nbsp;</span><span 
    style='color:#DCDCAA'>main</span><span
     style='color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p><span  style='color:#D4D4D4'>&nbsp;&nbsp;</span><span  style='color:#4EC9B0'>int</span><span  style='color:#D4D4D4'>&nbsp;y&nbsp;=&nbsp;</span><span
     style='color:#B5CEA8'>6</span><span
     style='color:#D4D4D4'>;</span></p>
    
    <p><span  style='color:#D4D4D4'>&nbsp;&nbsp;</span><span  style='color:#C586C0'>if</span><span  style='color:#D4D4D4'>&nbsp;(y&nbsp;%&nbsp;</span><span
     style='color:#B5CEA8'>2</span><span
     style='color:#D4D4D4'>&nbsp;==&nbsp;</span><span
     style='color:#B5CEA8'>1</span><span
     style='color:#D4D4D4'>)&nbsp;{</span></p>
    
    <p><span  style='color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;odd&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}&nbsp;</span><span style='color:#C586C0'>else</span><span style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;even&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p><span style='
    color:#D4D4D4'>}</span></p>
    
<br>
    
    </div>
    <br>
    <div class="res">
        even <br>
    </div>
<br>
<li class="step">
    if...else if Statement
</li>
<br>

<div class=syn>
<p style="color: white;"><span style='color:yellow'>if</span><span>&nbsp;( <span style="color: yellowgreen;">test_condition_1</span> )&nbsp;{</span></p>
    
    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;body&nbsp;of&nbsp;</span><span>if</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:yellow'>else</span><span>&nbsp;</span><span style='color:yellow'>if</span><span >( <span style="color: yellowgreen;">test_condition_2</span> ){</span></p>
    
    <p ><span >&nbsp;&nbsp;&nbsp;&nbsp;body&nbsp;of&nbsp;else &nbsp;if</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:yellow'>else</span><span style='color:#D4D4D4'>{</span></p>
    
    <p><span >&nbsp;&nbsp;&nbsp;&nbsp;body&nbsp;of&nbsp;</span><span
    >else</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    </div>
    <br>
<p>
    The <span class="word" style="color: purple;">else if</span>  allows us to check for multiple expressions. <br>

If the condition for <span class="word" style="color: purple;">if</span> is False, it checks the condition of the next <span class="word" style="color: purple;">else if</span> block and so on.<br>

If all the conditions are False, the body of else is executed.<br>

Only one block among the several if...else if...else blocks is executed according to the condition.<br>

The if block can have only one else block. But it can have multiple else if blocks.<br>
</p>

<h3 class="step">
    Example
</h3> <br>

<div class=code>

    <p><span style='
    color:#569CD6'>void</span><span style='
    color:#D4D4D4'>&nbsp;</span><span style='
    color:#DCDCAA'>main</span><span style='
    color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#569CD6'>var</span><span style='color:#D4D4D4'>&nbsp;</span><span style='color:#4EC9B0'>num</span><span style='color:#D4D4D4'>&nbsp;=&nbsp;-</span><span style='color:#B5CEA8'>3.4</span><span style='color:#D4D4D4'>;</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#C586C0'>if</span><span style='color:#D4D4D4'>&nbsp;(</span><span style='color:#4EC9B0'>num</span><span style='color:#D4D4D4'>&nbsp;&gt;&nbsp;</span><span style='color:#B5CEA8'>0</span><span style='color:#D4D4D4'>)&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;Positive&nbsp;number&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}&nbsp;</span><span style='color:#C586C0'>else</span><span style='color:#D4D4D4'>&nbsp;</span><span style='color:#C586C0'>if</span><span style='color:#D4D4D4'>&nbsp;(</span><span style='color:#4EC9B0'>num</span><span style='color:#D4D4D4'>&nbsp;==&nbsp;</span><span
    style='color:#B5CEA8'>0</span><span
    style='color:#D4D4D4'>)&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;Zero&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}&nbsp;</span><span style='color:#C586C0'>else</span><span style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;Negative&nbsp;number&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p><span style='
    color:#D4D4D4'>}</span></p>
    
<br>
    
    </div>
    <br>
    <div class="res">
        Negative number
 <br>
    </div>
<br>
<li class="step">
    Nested if
</li>
<br>

<div class=syn>

    <p><span style='
    color:yellow'>if</span><span> ( <span style="color: yellowgreen;">test_condition_1</span> ){</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;...</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:yellow'>if </span><span > ( <span style="color: yellowgreen;">test_condition_2</span> ){</span></p>
    
    <p><span>&nbsp;&nbsp;&nbsp;&nbsp;body&nbsp;of&nbsp;nested&nbsp;</span><span
    >if</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;...</span></p>
    
    <p><span style='
    color:#D4D4D4'>}</span></p>
    
    <p><span style='
    color:#D4D4D4'>...</span></p>
 
    </div>

    <br>
<p>
    A <span class="word"> nested if</span> is an if statement that is the target of another if statement. Nested if statements means an if statement inside another if statement. 
</p>

<h3 class="step">
    Example
</h3> <br>

<div class=code>

    <p><span style='
    color:#569CD6'>void</span><span style='
    color:#D4D4D4'>&nbsp;</span><span style='
    color:#DCDCAA'>main</span><span style='
    color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#569CD6'>var</span><span style='color:#D4D4D4'>&nbsp;</span><span style='color:#4EC9B0'>num</span><span style='color:#D4D4D4'>&nbsp;=&nbsp;</span><span style='color:#B5CEA8'>7</span><span style='color:#D4D4D4'>;</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#C586C0'>if</span><span style='color:#D4D4D4'>&nbsp;(</span><span style='color:#4EC9B0'>num</span><span style='color:#D4D4D4'>&nbsp;&gt;&nbsp;</span><span style='color:#B5CEA8'>0</span><span style='color:#D4D4D4'>)&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;Positive&nbsp;number&nbsp;and&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#C586C0'>if</span><span style='color:#D4D4D4'>&nbsp;(</span><span style='color:#4EC9B0'>num</span><span style='color:#D4D4D4'>&nbsp;%&nbsp;</span><span style='color:#B5CEA8'>2</span><span style='color:#D4D4D4'>&nbsp;==&nbsp;</span><span
    style='color:#B5CEA8'>0</span><span
    style='color:#D4D4D4'>)</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#DCDCAA'>print</span><span
    style='color:#D4D4D4'>(</span><span
    style='color:#CE9178'>&quot;even&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#C586C0'>else</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    style='color:#DCDCAA'>print</span><span
    style='color:#D4D4D4'>(</span><span
    style='color:#CE9178'>&quot;odd&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}&nbsp;</span><span style='color:#C586C0'>else</span><span style='color:#D4D4D4'>&nbsp;</span><span style='color:#C586C0'>if</span><span style='color:#D4D4D4'>&nbsp;(</span><span style='color:#4EC9B0'>num</span><span style='color:#D4D4D4'>&nbsp;==&nbsp;</span><span
    style='color:#B5CEA8'>0</span><span
    style='color:#D4D4D4'>)&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;Zero&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}&nbsp;</span><span style='color:#C586C0'>else</span><span style='color:#D4D4D4'>&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;Negative&nbsp;number&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;}</span></p>
    
    <p><span style='
    color:#D4D4D4'>}</span></p>
    
<br>
    
    </div>
    <br>
    <div class="res">
        Positive number and <br>
odd <br>
    </div>
    <br>
    <h3 class="note">
        Note:
    </h3>
<p>
    If there is only one statement is present in the “if” or “else” body then you do not need to use the braces. For example :
</p>
<br>

<div class=code>

    <p><span style='
    color:#569CD6'>void</span><span style='
    color:#D4D4D4'>&nbsp;</span><span style='
    color:#DCDCAA'>main</span><span style='
    color:#D4D4D4'>()&nbsp;{</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#4EC9B0'>int</span><span style='color:#D4D4D4'>&nbsp;age&nbsp;=&nbsp;</span><span style='color:#B5CEA8'>17</span><span style='color:#D4D4D4'>;</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#C586C0'>if</span><span style='color:#D4D4D4'>&nbsp;(age&nbsp;&gt;=&nbsp;</span><span
    style='color:#B5CEA8'>18</span><span
    style='color:#D4D4D4'>)</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;You&nbsp;are&nbsp;eligible&nbsp;for&nbsp;voting&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#C586C0'>else</span></p>
    
    <p><span style='
    color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='color:#DCDCAA'>print</span><span style='color:#D4D4D4'>(</span><span style='color:#CE9178'>&quot;You&nbsp;are&nbsp;not&nbsp;eligible&nbsp;for&nbsp;voting&quot;</span><span
    style='color:#D4D4D4'>);</span></p>
    
    <p><span style='
    color:#D4D4D4'>}</span></p>
<br>
    
    </div>
    <br>
    <div class="res">
        You are not eligible for voting
<br>
    </div>
<h3 class="note">
        Important Points:
</h3>

<p>
1. else and else..if are optional statements, a program having only “if” statement would run fine.<br>
2. else and else..if cannot be used without the “if”.<br>
3. There can be any number of else..if statement in a if else..if block.<br>
4. If none of the conditions are met then the statements in else block gets executed.<br>
	
</p>
    </ol>
</div>