<div class="contenu">
    <h1>
        Named parameters
    </h1>
    <p>
        Named parameters are optional unless they’re specifically marked as required. <br>
        A parameter wrapped by <span class="word">{ }</span> is a named optional parameter. Here is an example: <br>
    </p>
    <div class=code>
<p><span style='
color:#569CD6'>void</span><span style='
color:#D4D4D4'>&nbsp;</span><span style='
color:#DCDCAA'>main</span><span style='
color:#D4D4D4'>()&nbsp;{</span></p>

<p><span style='
color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#569CD6'>void</span><span style='color:#D4D4D4'>&nbsp;</span><span style='color:#DCDCAA'>login</span><span style='color:#D4D4D4'>({username,&nbsp;password})&nbsp;{</span></p>

<p><span style='
color:#D4D4D4'>&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-size:10.5pt;
font-family:Consolas;color:#6A9955'>//statements</span></p>

<p><span style='
color:#D4D4D4'>&nbsp;&nbsp;}</span></p>

<p><span style='
color:#D4D4D4'>&nbsp;&nbsp;</span><span style='color:#DCDCAA'>login</span><span style='color:#D4D4D4'>(username:&nbsp;</span><span style='font-size:10.5pt;
font-family:Consolas;color:#CE9178'>&quot;flutterStudent&quot;</span><span
style='color:#D4D4D4'>,&nbsp;password:&nbsp;</span><span
style='color:#CE9178'>&quot;california1989&quot;</span><span
style='color:#D4D4D4'>);</span></p>

<p><span style='
color:#D4D4D4'>}</span></p>

<br>
</div>
<br>
<p>
    When calling login function, you can specify named parameters using <span class="word">paramName: value</span>.
</p>
</div>