<div class="contenu">
    <h1>
        Introduction to Object Oriented Programmming in Dart
    </h1>
    <p>
        Object-oriented programming (OOP) is a method of structuring a program by bundling related properties and behaviors into individual objects.  <br>
        Dart is an object-oriented programming language, and it supports all the concepts of object-oriented programming. <br>
    </p>
    <h3 class="note">
        Dart Object-Oriented Concepts:
    </h3>
    <p>
        - Class <br>
        - Object <br>
        - Inheritance <br>
        - Polymorphism <br>
        - Interfaces <br>
        - Abstract class <br>
    </p>
    <p>
        The above introductions give the basic idea of oops concepts. We will have a detailed discussion in upcoming tutorials.
    </p>
    <ol>
        <li class="step">
            Class
        </li>
        <p>
            A  user-defined prototype for an object that defines a set of attributes that characterize any object of the class. <br>
             The attributes are data members (class variables and instance variables) and methods, accessed via dot notation.
        </p>
        <li class="step">
            Object
        </li>
        <p>
            A unique instance of a data structure that's defined by its class. <br>
            An object comprises both data members (class variables and instance variables) and methods.
        </p>
        <li class="step">
            Inheritance
        </li>
        <p>
            The transfer of the characteristics of a class to other classes that are derived from it. <br>
            The class that to be extended is called parent /superclass, and the newly created class is called child/subclass.
            Dart provides extends keyword to inherit the properties of parent class in child class. 
        </p>
        <li class="step">
            Polymorphism
        </li>
        <p>
            Polymorphism means "many forms", and it occurs when we have many classes that are related to each other by inheritance.
        </p>
        <li class="step">
            Interfaces
        </li>
        <p>
            We can declare methods and variables inside the interface just like the class but in interface only abstract declaration of methods is provided. We can only define the function signature but not its body. Another class can implement the interface. It is basically used for data-hiding.
        </p>
        <li class="step">
            Abstract Class
        </li>
        <p>
            An abstract class is a class that is declared abstract—it may or may not include abstract methods. Abstract classes cannot be instantiated, but they can be subclassed.
        </p>
    </ol>
</div>

 

   