<!-- Footer -->
<div class="footer">
    <div class="container">
        <h3>About Us</h3>

        <div class="row">

            <div class="col-md-6">
                <div class="footer-col">
                    <p>Welcome to <strong>beFlutter Pro</strong>, where passion meets expertise! <br>I am
                        <strong>Aziz
                            Marzouki</strong>, a
                        dedicated Flutter developer with a mission to inspire and educate aspiring
                        developers.<br><br>
                        With a
                        deep love for programming and a wealth of experience in Flutter app development, I
                        founded this
                        platform to share my knowledge and help learners transform their aspirations into
                        skills.<br><br>


                    </p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-6">
                <div class="footer-col middle">
                    <p>Here,we are committed to providing top-notch Flutter tutorials,
                        hands-on projects, and expert guidance, ensuring an engaging and enriching learning
                        experience
                        for all.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Creator <a class="turquoise"
                                    href="https://azizmarzouki.com">azizmarzouki.com</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Flutter <a class="turquoise"
                                    href="https://flutter.dev">flutter.dev</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Dart <a class="turquoise" href="https://dart.dev">dart.dev</a></div>
                        </li>

                    </ul>
                </div>
            </div> <!-- end of col -->

        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->
<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © Flutter Pro 2020-2023</p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/morphext.min.js"></script>
<script src="js/validator.min.js"></script>
<script src="js/scripts.js"></script>

<script>

</script>